[2014-06-28 18:17] kmcallister opened #2 "Display code next to spec"
Many parts of the parser code closely match sections of the HTML5 syntax spec. We should include machine-readable comments describing this correspondence, and then generate a HTML document with syntax-highlighted Rust code next to spec excerpts.

[2014-07-09 19:04] kmcallister opened #3 "C API"
We should have a C API.  Then any language can call into a high-performance, memory-safe HTML parser.

[2014-07-29 20:13] kmcallister opened #5 "HTML test case reducer"
An automated test case reducer in the style of [C-Reduce](http://embed.cs.utah.edu/creduce/) would be a useful demo/application for this library.

[2014-07-31 20:47] kmcallister opened #6 "Support document.write"
See servo/servo#3704.

The argument to `document.write` is a sequence of UCS-2 code units and we need a way to interface this with the UTF-8 parser.  My plan is:

(**Edit**: Largely superseded by [this proposal](https://github.com/kmcallister/tendril))
- Convert to UTF-8 as soon as possible.
- Convert invalid surrogate sequences to U+FFFD 'REPLACEMENT CHARACTER'. This is a deviation from the spec,

[2014-07-31 20:49] kmcallister opened #7 "Provide hooks Servo needs to implement the document lifecycle"
This covers things like `<script async>`, `<script defer>`, `DOMContentLoaded` and `onload`, [session history](http://www.whatwg.org/specs/web-apps/current-work/multipage/history.html) and its interaction with `document.open` and `document.write`.  See servo/servo#1879.

Related to #6 (`document.write`).

[2014-07-31 20:49] kmcallister opened #8 "Implement parsing for MathML"

[2014-07-31 20:49] kmcallister opened #9 "Implement parsing for SVG"

[2014-07-31 20:49] kmcallister opened #10 "Implement parsing of <template>"
It has a bunch of special parsing rules :/

[2014-07-31 20:51] kmcallister opened #11 "Implement tokenization of CDATA sections"
These can only appear in MathML and SVG (see #8, #9)

[2014-07-31 20:51] kmcallister opened #12 "Use string-cache for interning"
Use [string-cache](https://github.com/servo/string-cache) for interning, and port our interning macros to it.

[2014-07-31 20:53] kmcallister opened #13 "Implement parsing for <isindex>"
If we really have to.  It's an obscure feature, deprecated as hell, and really messy.

[2014-07-31 20:53] kmcallister opened #14 "Handle qualified tag and attribute names in serialization"

[2014-07-31 20:55] kmcallister opened #15 "Implement the rest of misnested tag recovery"
Adoption agency algorithm, foster parenting, reconstruct formatting, etc.

[2014-07-31 20:56] kmcallister opened #16 "Finish implementing, and test, the fragment cases in parsing"
Right now there is code in `tests/tree_builder.rs` to ignore the fragment-case tests.

[2014-07-31 20:57] kmcallister opened #17 "Provide hooks for application cache selection"
A browser runs the [application cache selection algorithm](http://www.whatwg.org/specs/web-apps/current-work/multipage/browsers.html#concept-appcache-init) when the parser sees `<html manifest=...>`.

[2014-07-31 20:59] kmcallister opened #18 "Implement character encoding detection / conversion"
See [the HTML spec](http://www.whatwg.org/specs/web-apps/current-work/multipage/syntax.html#the-input-byte-stream) and the [WHATWG Encoding spec](http://encoding.spec.whatwg.org/).  This also entails noticing `<meta charset=...>` and `<meta http-equiv="Content-Type">` as we parse.

[2014-07-31 21:00] kmcallister opened #19 "Implement all the details of handling </script>"
See also #7.

[2014-07-31 21:02] kmcallister opened #20 "Consider small vector optimization for CharacterTokens"
The tokenizer often emits one character at a time.

[2014-07-31 21:07] kmcallister opened #21 "High-priority / blocking Rust issues"
None at present!

[2014-07-31 21:20] kmcallister opened #22 "Revisit tokenizer microoptimizations"
For example, there's [an old branch](https://github.com/servo/html5ever/tree/sse) to use SSE 4.2 string instructions in tokenization, which realized a speedup of about 10% and could probably be pushed much further.

[2014-07-31 21:35] kmcallister opened #23 "Implement a parent-ownership DOM"
This would be another built-in `TreeSink`, suitable for simple static parsing tasks, and potentially faster than `RcDom`.

During parsing, the `TreeSink` operates on

[code]

The `TentativeNode`s are allocated and owned by the `TreeSink` itself.  They all live as long as the `TreeSink` does, so reference counting is not necessary.

The `get_result` method consumes the `TreeSink` and transmutes the

[2014-07-31 21:45] kmcallister opened #24 "Add serializer tests"

[2014-08-01 02:44] kmcallister opened #25 "Speculative parsing and tokenization"
Similar to servo/servo#1009

The first step is speculative parsing concurrent with scripts, [similar to what Gecko does](https://developer.mozilla.org/en-US/docs/Mozilla/Gecko/HTML_parser_threading).

[2014-08-05 00:33] kmcallister opened #26 "Make Namespace a newtype around Atom"
After discussion with @SimonSapin we concluded that there's no reason for a custom `enum`.  An HTML parser can only output a fixed set of namespaces, but XHTML parsing and DOM manipulation can produce arbitrary namespaces, so Servo must represent namespaces as interned strings anyway.

I think we still want `Namespace` to be a separate type, not a synonym, so that it's harder to mix up namespaces

[2014-08-05 00:33] kmcallister opened #27 "Switch to Cargo"

[2014-08-25 18:57] kmcallister opened #30 "Rust issue tracking"
rust-lang/rust#15609: Autoderef chooses deref() when deref_mut() is needed for ref mut pattern
rust-lang/rust#16617: Syntactic context discarded when quoting a macro invocation
rust-lang/rust#18043: Bencher::iter should support per-iteration setup

[2014-08-25 20:33] #27 closed, assigned to nobody

[2014-08-25 20:33] kmcallister opened #31 "Use Cargo for tests, examples, benchmarks"

[2014-08-28 06:30] #3 closed, assigned to nobody

[2014-08-28 06:30] kmcallister opened #32 "Document the C API"
There are lots of details such as pointer ownership and character encoding.

[2014-08-28 06:30] kmcallister opened #33 "Write C bindings for the tree builder"

[2014-08-28 06:31] #23 closed, assigned to nobody

[2014-09-03 21:27] #12 closed, assigned to nobody

[2014-09-04 00:16] #26 closed, assigned to nobody

[2014-09-19 20:31] kmcallister opened #34 "Accept raw bytes"
Reads from the network will not necessarily align with UTF-8 codepoint boundaries.

[2014-09-24 04:45] kmcallister opened #35 "Add stability attributes throughout the library"

[2014-09-25 20:02] kmcallister opened #38 "Publish binaries (or LLVM IR?) for the library"
So it can be used from C without a local Rust compiler, especially in the interim period before rustc 1.0 makes it into popular OS distributions.

[2014-09-27 03:40] #21 closed, assigned to nobody

[2014-10-04 17:47] perehonchuk opened #40 "Did not compile with latest rustc"
➜  parser git:(master) ✗ cargo build
   Compiling html5ever v0.0.0 (https://github.com/kmcallister/html5ever#974b5ac1)
/Users/mac/.cargo/git/checkouts/html5ever-122db04116ffdbdc/master/src/tree_builder/actions.rs:41:1: 43:2 error: the parameter type `Handle` may not live long enough; consider adding an explicit lifetime bound `Handle:'a`...
/Users/mac/.cargo/git/checkouts/html5ever-122db04116ffdbd

[2014-10-05 21:59] #40 closed, assigned to nobody

[2014-10-08 00:28] kmcallister opened #41 "Use iterators for tokenizer lookahead"

[2014-10-13 17:48] kmcallister opened #42 "Add the C API to the automated test suite"
Right now we build but do not test it.

[2014-10-13 22:31] kmcallister opened #43 "Implement the "XML5" syntax"
A parser for well-formed XML 1.0 is a very different beast from a HTML parser.  But there's this [XML5](https://code.google.com/p/xml5/) spec that is quite similar to HTML parsing and could re-use a lot of the machinery, if not the actual parse rules.  Servo could potentially use this for all XML parts of the Web platform. See servo/servo#3319.

[2014-10-16 03:02] #41 closed, assigned to nobody

[2014-10-16 17:32] kmcallister opened #44 "Benchmark the C API"
Quantify the overhead of the extra indirection, the virtual calls, etc.

[2014-10-16 17:34] kmcallister opened #45 "Switch to Criterion.rs for benchmarking"
Especially if japaric/criterion.rs#23 is implemented.

[2014-10-20 00:21] jgallagher opened #47 "html5ever uses #![no_std] but depends on phf which links std"
It's not clear how big of an issue this is, but html5ever itself is still ultimately linking against std due to rust-phf's use of std.

[2014-10-21 23:06] kmcallister opened #48 "Provide source spans for tokens and DOM nodes"
We can use something like libsyntax's [`Span`](http://doc.rust-lang.org/syntax/codemap/struct.Span.html) and [`Spanned`](http://doc.rust-lang.org/syntax/codemap/struct.Spanned.html) types to track positions in the input stream.

The tokenizer will remember its current position and the position at certain events, e.g. start tag, start attribute name.  The tree builder will call a tree sink method (

[2014-10-26 17:39] kmcallister opened #51 "Integrate with html-parsers-benchmark"
https://github.com/seriyps/html-parsers-benchmark

I believe @Ygg01 made some progress on this.

We can add Hubbub and Gecko's C++ parser as well.

[2014-11-03 20:54] kmcallister opened #53 "Build on Rust stable branch"
Not for 1.0 necessarily, but at some point in 1.x.

The biggest obstacle is syntax extensions.  I have no clever ideas there except running `rustc-nightly --pretty expanded` and shipping that as the 1.x "source".

We should catalog all of the other obstacles here.

Servo itself will be on nightlies for a looooong time.

[2014-11-11 22:01] #47 closed, assigned to nobody

[2014-12-06 20:14] ozten opened #61 "build errors with html5ever as cargo crate"
rustc 0.13.0-nightly (6f4c11be3 2014-12-05 20:23:10 +0000)
cargo 0.0.1-pre-nightly (da789a6 2014-11-30 08:14:16 +0000)

Steps to Reproduce

    cargo new project --bin
    cd project

Add html5ever to `Cargo.toml`

    [dependencies.html5ever]
    git = "https://github.com/servo/html5ever"

Add html5ever to `main.rs`

    #![feature(phase)]

    extern crate html5ever;
    use html5ever::sink::com

[2014-12-11 01:14] kmcallister opened #63 "Switch back to std imports and drop #![no_std]"
After rust-lang/rust#19654 lands, there's no reason to avoid `std` in libraries used from C.

[2015-01-15 18:50] kmcallister opened #66 "Use associated items to clean up the API"
The std lib uses them now, so it's about time.

[2015-01-15 19:04] kmcallister opened #67 "Replace int/uint with isize/usize or explicit sizes"

[2015-01-20 23:14] #66 closed

[2015-01-27 16:08] kmcallister opened #72 "Fix scripts/bench-branches.py"
It uses the removed libtest `--save-metrics` feature. See 22a97c2f38a253728ef975d2330d964f524f8134 and rust-lang/rust#19145.

[2015-01-28 13:46] aroben commented on #15
Foster parenting is now implemented, right? https://github.com/servo/html5ever/commit/6eb77b2e49a8a05d29977a638dfc9e8adb079302

Looks like there's still a warning and a FIXME about it: https://github.com/servo/html5ever/blob/3d4258abcf9b1d14671088925a350ece64c698ee/src/tree_builder/actions.rs#L401. Are those still valid?

[2015-01-29 04:25] kmcallister opened #76 "Docs aren't updating"

[2015-01-29 20:33] aroben commented on #15
I have a branch that implements the adoption agency algorithm and "reconstruct the active formatting elements". I just need to clean up the code and I'll put it in a PR today or tomorrow.

[2015-01-30 01:13] kmcallister commented on #15
Wow, that's amazing!

I was not *at all* looking forward to implementing AAA so I'm overjoyed to hear you have it working :)  It seemed I would need a data structure for handling a whole stack of elements with arbitrary "pointers" into it that stay valid even when elements are added/removed.  I'm very interested to see how you implemented it!

[2015-01-30 01:14] kmcallister commented on #15
How many tests remain in `data/test/ignore`?

[2015-01-30 02:10] kmcallister commented on #76
We could switch to GitHub Pages.

[2015-01-30 02:10] aroben commented on #15
For now I've just done a very naive implementation that scans through the list of active formatting elements looking for the bookmarked node. There are probably a number of inefficiencies in the initial implementation that can be improved, but I figured better to get something working first and then we can profile it to see what's slow.

The branch removes 87 tests from that file, leaving 37 still

[2015-01-31 09:03] utkarshkukreti opened #81 "Add a method to get a Node's index in its parent's children in RcDom"
A private function to calculate it already exists [here](https://github.com/servo/html5ever/blob/master/src/sink/rcdom.rs#L81-L90), and I need access to this info to get the next/previous sibling of a Node for a project I'm working on.

I'll be happy to submit a pull request if you could tell me where is the best place to add this.

[2015-02-02 22:36] kmcallister opened #84 "Do fewer linear searches of element stacks"
e.g. the open elements or active formatting elements.  We search these when looking for elements in various scopes, and #77 adds more.

We could track open elements with a bitvector for each scope.  Checking if one of a set of elements is open in a particular scope would be a simple bitmask test.  We can choose bit patterns to match the static atom indices as well.

We should find an abstraction t

[2015-02-02 22:40] #15 closed

[2015-02-08 00:58] Manishearth opened #89 "Parsing of bad self-closing tags a bit strange"
I'm not entirely sure if this is a bug, but giving Servo the following HTML

[code]

Gives ` <picture></picture><svg></svg><font></font><source srcset="data:,b"><font></font><img src="data:,a" data-expect="data:,a"><font></font>` in the alert

The second font tag seems wrong to me (and Firefox isn't showing it)

[2015-02-10 10:29] Ms2ger commented on #89
This is just "we don't support foreign content", I think. The `<font/>` should be treated as `<font></font>` inside the SVG, but is being parsed as plain HTML `<font>

[2015-02-10 12:53] Manishearth commented on #89
ah, okay. So I guess we should ignore this failure in the rustup.

[2015-02-10 13:59] Ms2ger commented on #89
(Though it'd be good to figure out why this changed.)

[2015-02-11 21:03] kmcallister commented on #25
See also http://www.cs.wm.edu/~xshen/Publications/taco14.pdf

[2015-02-13 22:40] kmcallister commented on #33
The `TreeSink` API is generic over a `Handle` to a node.  In the C API this should be a wrapper around `void *`, which calls optional incref and decref callbacks on `Clone` and `Drop` respectively.

See [hubbub's tree builder API](https://github.com/servo/libhubbub/blob/master/docs/Treebuilder) as well.

[2015-02-13 22:43] kmcallister commented on #33
Maybe expose the existing GC trace hooks to C code, as well?  It's potentially useful for writing bindings to a GC'd language.

[2015-02-15 21:45] ChrisParis opened #93 "Token parsing problem when insertion mode is InColumnGroup"
The behavior when processing a token not specifically matched (i.e., the general case), in the insertion mode InColumnGroup, seems erroneous. When the fragment parsing tests are enabled, the following two errors result:

    'tb: tests6.dat-26' panicked at '
    input: foo<col>
    got:
    | "foo"
    | <colgroup>
    |   <col>
    expected:
    | <col>

    'tb: tests_innerHTML_1.dat-37' panicke

[2015-02-16 19:31] #31 closed

[2015-02-16 19:38] #93 closed

[2015-02-16 19:41] aroben opened #95 "Build libhtml5ever_for_c.a via cargo"
`libhtml5ever_for_c.a` is the only target that requires `Makefile.in`. Everything else can be built via `cargo`. It would be great to use `cargo` to build `libhtml5ever_for_c.a` too; then we could get rid of the Makefile entirely.

[2015-02-18 23:57] ChrisParis opened #96 "TreeBuilder.quirks_mode should be initialized to match quirks mode of the sink's document"

[2015-02-19 01:35] #67 closed

[2015-02-19 02:20] ChrisParis commented on #96
We could add a quirks_mode() getter to the TreeSink trait, which would let the parser pull the quirks mode from the sink. Or we could add a quirks_mode to TreeBuilderOpts, which would let the client supply the initial value. Preference? Or a different approach?

[2015-02-19 04:59] kmcallister commented on #25
See also servo/servo#3847

[2015-02-19 07:37] kmcallister commented on #16
Fixed in cddca3fa3808ba0e4ea10e9a8be8594e22902086 ^_^

[2015-02-19 07:37] #16 closed

[2015-02-19 20:11] kmcallister commented on #96
Let's add it to `TreeBuilderOpts`.

[2015-02-19 20:13] kmcallister commented on #61
Yeah, we sometimes fall behind updating to the Rust nightlies.  I think that's what happened here.  Your build instructions work for me now :)

[2015-02-19 20:13] #61 closed

[2015-02-23 09:13] ChrisParis opened #98 "Serialize entry-point provides no way to serialize the top-level node"
The public serialize function unconditionally passes incl_self=false to the serializer. This is a blocker for the outerHTML getter.

[2015-02-23 09:18] ChrisParis opened #99 "Serializer does not support processing instructions"
Servo has a ProcessingInstruction NodeTypeId, so the Serializable implementation for Servo has to do something with ProcessingInstructions. The pre-h5e serializer in Servo is capable of serializing processing instructions.

[2015-02-24 18:39] #96 closed

[2015-02-24 18:39] #98 closed

[2015-02-24 18:39] #99 closed

[2015-02-26 17:18] kmcallister opened #103 "format_if! can use format! with for_c now"
as of rust-lang/rust#21988.

[2015-03-12 16:24] kmcallister commented on #53
Current plan for syntax extensions is https://github.com/erickt/rust-syntex.

[2015-03-16 21:31] doublec opened #109 "Allow changing tokenizer state to PLAINTEXT"
This came from mozilla/servo#4181. The spec for [dealing with text/plain](https://html.spec.whatwg.org/multipage/browsers.html#read-text) has:

I'm doing this in doublec/servo@5d4e7efa by using `<plaintext>` as that seems to be the only way of changing to Plaintext.

Can an API be added to allow switching the state for this use case?

[2015-03-17 17:24] o01eg opened #110 "html5ever doesn't compile with never rustc"
[code]

Even if I fix that I get into deprecated `old_io` errors.

rustc 1.0.0-dev (1760e8749 2015-03-16) (built 2015-03-17)

[2015-03-17 19:26] kmcallister commented on #109
Sure, I'd be happy to review a PR for that. Maybe it can use the existing `query_state_change`.

[2015-03-17 20:30] Ogeon commented on #110
I decided to give it a try and [upgrade to the latest nightly](https://github.com/servo/html5ever/pull/111), but it fails with two ICEs when running `cargo test`.

[2015-03-18 18:06] #110 closed

[2015-03-18 18:06] kmcallister commented on #110
I merged some Rust upgrades. I'm waiting on a fix for one of those ICEs, and then we'll see where we are.

[2015-03-18 21:31] kmcallister commented on #20
This is happening; see #60.

[2015-03-18 21:35] kmcallister opened #112 "Convert match_token to use rust-aster"
Convert match_token to use [rust-aster](https://github.com/erickt/rust-aster) and possibly [rust-quasi](https://github.com/erickt/rust-quasi).

[2015-03-18 21:35] kmcallister commented on #112
See #53.

[2015-03-25 01:01] kmcallister commented on #6
https://github.com/kmcallister/tendril encompasses my latest proposal.

[2015-03-25 01:06] kmcallister commented on #34
The UTF-8 case is handled by `TendrilReader` in #114. The rest of this issue falls under #18.

I'm not sure. Let's move that discussion to #18.

[2015-03-25 01:06] #34 closed

[2015-03-25 01:15] kmcallister opened #115 "Implement the "sixth era" string proposal"
[Rendered](https://github.com/kmcallister/tendril)

Metabug for #6, #18, #20.

[2015-03-25 01:17] kmcallister commented on #115
Also #48.

[2015-03-30 22:47] kmcallister commented on #95
Maybe the C bindings should become a separate crate in the same repo. Does Cargo support `staticlib` crates?

I'm not sure there's any need to build html5ever itself specially for C consumers, now that the Rust runtime is gone.

[2015-03-31 04:48] kmcallister commented on #22
https://crates.io/crates/llvmint has the necessary intrinsics. That might be a nicer route than inline assembly, even though it's still not portable.

[2015-04-01 19:45] #76 closed

[2015-04-02 01:03] kmcallister opened #678 "Run the fuzzer on Travis"

[2015-04-02 01:05] kmcallister opened #677 "Measure code coverage during fuzzing"
Measure the code paths & conditions that occur. Don't stop a fuzzing run until we've hit a quota for each.

[2015-04-02 22:35] steveklabnik commented on #95
Yes, it does. http://doc.crates.io/manifest.html#building-dynamic-or-static-libraries

[2015-04-04 05:04] kmcallister opened #118 "Implement parsing of scripts in SVG"

[2015-04-04 05:06] kmcallister opened #119 "Parse HTML integration points in MathML"
This is annoying because you have to know [the original attributes that a node was created with](https://html.spec.whatwg.org/multipage/syntax.html#html-integration-point).

[2015-04-04 05:19] kmcallister commented on #11
This requires yet another form of feedback from the tree builder to the tokenizer.

[2015-04-05 14:09] SimonSapin opened #121 "TreeSink::add_attrs_if_missing on non-elements"
When should a `TreeSink` do when the `add_attrs_if_missing` method is called with a node that is not an element? For `elem_name`, the documentation promises this won’t happen and says “feel free to `panic!`”, but this one doesn’t say anything. The two implementations shipped with html5ever (`owned_dom` and `rcdom`) just return, but I feel like such errors should not be ignored silently.

[2015-04-06 18:01] kmcallister commented on #95
This is [working well for tendril](https://github.com/kmcallister/tendril/tree/master/capi).

[2015-04-06 18:02] #8 closed

[2015-04-06 18:02] #9 closed

[2015-04-06 18:53] jdm commented on #14
We hit this when running https://github.com/w3c/web-platform-tests/blob/master/dom/nodes/ParentNode-querySelector-All.html in Servo:
[code]

[2015-04-06 20:37] kmcallister commented on #14
I'll work on this next. It's a natural step after landing #120.

[2015-04-06 23:28] kmcallister opened #122 "Serialize unrecognized namespaces according to the prefix used"
We have to query this information from the DOM.

Offshoot of #14.

cc @SimonSapin

[2015-04-06 23:29] kmcallister commented on #122
As a specific example, the element created by

[code]

should serialize as

[code]

even though its `localName` is only `bar`.

[2015-04-07 03:30] SimonSapin commented on #122
Perhaps an optional prefix should be part of `string_cache::namespace::QualName`

[2015-04-07 07:50] Ms2ger commented on #122
Exactly: https://github.com/servo/string-cache/issues/26

[2015-04-13 17:58] Ygg01 commented on #112
Will this help with #53? rust-aster and rust-quasi are both on nightly branch at time of writing this.

[2015-04-20 06:52] #14 closed

[2015-04-20 06:52] #63 closed

[2015-04-20 06:52] #95 closed

[2015-04-20 06:52] #103 closed

[2015-04-24 20:33] jdm opened #126 "Text node normalization is missing"
The "html5 tokenizer" tests at html5test demonstrate that `e.innerHTML = "&lang;&rang;";` produces two text nodes in Servo, not one.

Relevant source at https://github.com/NielsLeenheer/html5test/blob/ce8268b2ec71ebdfa6fc6cefc989ba8e6ce544e5/scripts/6/engine.js#L412-L480 .

[2015-04-24 20:39] kmcallister commented on #126
From the `TreeSink` trait:

[code]

Based on which I'd say the bug is in Servo. As an incremental, streaming parser, there is nothing html5ever can/should do other than tell the client to combine text nodes.

[2015-04-24 20:40] jdm commented on #126
Duly noted!

[2015-04-24 20:40] #126 closed

[2015-05-01 16:41] marvelm opened #129 "Panic when building"
I'm not sure if I should be creating an issue here or in the rust-lang repo.

Here's what I was trying to run:

[code]

›+ rustc --version
rustc 1.1.0-nightly (c4b23aec4 2015-04-29) (built 2015-04-28)
a_@s-MacBook-Pro ~/dev/rivets ‹master! 77353e5a7 2d›
›+ cargo run --verbose
       Fresh libc v0.1.6
       Fresh httparse v0.1.1
       Fresh encoding_index_tests v0.1.4
       Fresh pkg-config v0.3

[2015-05-01 17:02] Manishearth commented on #129
Looks like https://github.com/rust-lang/rust/issues/24687 to me , which was fixed (https://github.com/rust-lang/rust/pull/24932), but very recently so it might not be in the nightly yet.

[2015-05-02 03:05] marvelm commented on #129
It's fixed in the latest nightly.

[2015-05-02 08:28] #129 closed

[2015-05-06 17:56] kmcallister opened #131 "Provide tokenizer options in the C API"

[2015-05-14 02:56] Alex-Addy opened #132 "print-rcdom.rs example fails to compile when using html5ever as a library"
When attempting to compile and run the [`examples/print-rcdom.rs`](https://github.com/servo/html5ever/blob/master/examples/print-rcdom.rs) from a fresh project with html5ever as a dependency it fails to compile.

The first error is when it fails to find the crate `string_cache` on line 17. Upon deleting this line and `#![plugin(string_cache_plugin)]` when it fails there as well, it then fails with

[2015-05-16 11:58] Wilfred opened #133 "Make html5ever available on crates.io"
Currently, it's not possible to install html5ever from crates.io. It would be nice to fix that.

This will require explicit releases, although it might be tricky until Rust 1.1 since depending on string-cache requires supporting `#![feature(core, static_assert)]`.

[2015-05-16 12:19] SimonSapin commented on #133
Publishing on crates.io is independent from (not) using unstable features (and running on Rust beta/stable).

[2015-05-16 12:21] Manishearth commented on #133
(We also use `#![feature(plugins)]` transitively through PHF, so either way it's going to be a long time before we support stable)

But yes, crates  using unstable features can and should go on crates.io. It's a different question if we want to commit to the stability of h5e itself (I assume not for now), or stick to a 0.0.* series for now.

[2015-05-16 12:29] SimonSapin commented on #133
Stability is also fairly independent of publication in the registry. Cargo extrapolates SemVer semantics into `0.x.y` versions, where x could be incremented for breaking changes and y for non-breaking.

The question is, @kmcallister, are you interested in making regular publications?

[2015-05-16 12:34] Manishearth commented on #133
I thought 0.* versions in semver were allowed to all be breaking?

[2015-05-16 12:36] Ygg01 commented on #133
I think you are allowed to add interface but not a breaking change.

On May 16, 2015 2:34 PM, "Manish Goregaokar" <notifications@github.com>
wrote:

[2015-05-16 12:38] SimonSapin commented on #133
semver.org says “Anything may change at any time.” about 0.x.y. But Cargo still assumes additional semantics and will automatically upgrade you e.g. to 0.3.5 but not to 0.4.0 if you specify `[dependencies] foo = "0.3.2"`.

[2015-06-10 21:32] kostya opened #143 "Test the C API"
[code]

[code]

[code]

[2015-06-17 22:16] frewsxcv commented on #133
https://users.rust-lang.org/t/html5ever-is-on-crates-io/1818

This can probably be closed, right?

[2015-06-17 22:26] SimonSapin commented on #133
Yes, thanks!

[2015-06-17 22:26] #133 closed

[2015-06-17 22:34] SimonSapin commented on #132
Examples are compiled as part of `cargo test`. The solution to not finding the `string_cache` crate is to add it as a dependency in your `Cargo.toml` file.

If you provide a full example I can help fixing it up.

[2015-06-17 22:36] SimonSapin commented on #143
There is currently no tests for the C API, so it’s very plausible that it’s broken! We’ll need to fix this.

[2015-06-17 22:38] SimonSapin commented on #81
I’d review/merge a pull request to do this.

You might also be interested in https://github.com/SimonSapin/kuchiki, although it is still very early work-in-progress. (`Node::get_{next,previous}_sibling` is built-in and takes O(1) time in Kuchiki.)

[2015-06-25 17:01] #20 closed

[2015-06-25 17:01] #115 closed

[2015-07-03 13:05] SimonSapin commented on #43
Started in https://github.com/Ygg01/xml5ever

[2015-07-03 13:05] #43 closed

[2015-07-13 01:44] chris-morgan opened #148 "RcDom links are all broken"
Loads of things refer to `RcDom` and `examples/print-rcdom.rs`. All the links are broken, as it’s moved to the `html5ever_dom_sink` crate (not included in the [generated docs](http://kmcallister.github.io/docs/html5ever/html5ever/)) and the `dom_sink` subdirectory of the repository.

[2015-07-13 01:46] SimonSapin commented on #148
rustdoc, y u no xref :(

[2015-07-13 06:24] nearsyh opened #149 "Add a method in TreeSink trait which will be called when an element ends"
For example, give an html code like
[code]
The function will be called when the parser reaches the end tag.

[2015-07-13 06:57] SimonSapin commented on #149
I’ll have to look at the spec, but I’m not sure that’s well-defined given all of HTML’s error recovery (e.g. optional closing tags). What’s the use case?

[2015-07-13 07:04] nearsyh commented on #149
This may not be necessary, but I think it makes some work easier. For example,
[code]

Adding this function can make it easy to gather all text in the outermost div.

[2015-07-13 07:12] SimonSapin commented on #149
You seem to be trying to do event-based parsing. Given how the tree builder can call `append_before_sibling`, `remove_from_parent`, or `reparent_children`, I’m not sure that really works. (You might incorrect results.) You may have to collect the nodes in a tree data structure like https://github.com/SimonSapin/kuchiki before you can process them.

[2015-07-13 08:34] Ms2ger commented on #149
I suspect @hsivonen and @sideshowbarker have ideas about such apis.

[2015-07-13 13:56] SimonSapin commented on #149
I’m guessing that @nearsyh would like to have a "streaming" HTML parser, like SAX and StAX do for XML. So the question is, given the adoption agency algorithm and friends, is this possible to parse HTML incrementally by buffering less than the entire document? (Where parts of the document can be considered "done" and are not modified again.)

[2015-07-13 16:49] sideshowbarker commented on #149
It’s possible to make a buffered SAX API. @hsivonen wrote one for use with the htmlparser he made (the same htmlparser the source of which is also used by gecko as its HTML parser). The sources for that SAX API are at http://hg.mozilla.org/projects/htmlparser/file/default/src/nu/validator/saxtree

However, the code for that API causes the entire HTML document it parses to be buffered; it doesn’t d

[2015-07-13 21:39] #148 closed

[2015-07-14 01:46] sideshowbarker commented on #149
See also https://github.com/inikulin/parse5/issues/26#issuecomment-113298544

[2015-07-14 02:07] sideshowbarker commented on #149
See http://krijnhoetmer.nl/irc-logs/whatwg/20150714#l-117 for a discussion I had with @gsnedders (one of the html5lib devs) about this.

It seems the sad reality is that, as he notes there, the only way to do a streaming API for spec-conformant HTML parsing is to either buffer everything or admit fatal errors for cases that require non-streaming behavior.

[2015-07-14 13:12] SimonSapin commented on #149
My conclusion is that a conforming "streaming" (SAX-like) HTML parser is only doable with trade-offs that are not worth it. (Either bufferring up to the entire document, or introducing fatal errors.)

@nearsyh, could you confirm that’s what you were trying to do?

[2015-07-17 11:12] Ygg01 commented on #143
I've noticed that examples use [h5e_buf](https://github.com/servo/html5ever/blob/master/examples/capi/tokenize.c#L18), which was removed in favor of StrTendril. Only instance I ever found h5e_buf is [nrc/benchmarks repo](https://github.com/nrc/benchmarks/blob/0d05be706db6673c07a33820a01c6f2f00d6c0ff/html5ever-2015-05-15/capi/src/lib.rs#L23 ). Perhaps that's the issue here?

[2015-07-17 11:55] SimonSapin commented on #143
Ah, I missed that example file when landing the conversion to Tendril: https://github.com/servo/html5ever/pull/142. But I don’t see a Makefile or build script for it. Yes, it still needs to be updated for Tendril. And `scripts/travis-build.sh` should build and run it, testing the output. `h5e_buf` was defined here:

https://github.com/servo/html5ever/blob/3302cb5b0988cca873a379f85eaff97fd8d6533f/c

[2015-07-17 12:17] Ygg01 commented on #143
Well, html5ever now uses string cache, so you'll probably need to land the capi for String cache first :(

[2015-07-31 14:25] #53 closed

[2015-08-03 15:50] SimonSapin commented on #18
Per the spec, the tree builder can also reload the document with a different encoding when it encounters a relevant `<meta>` tag: https://html.spec.whatwg.org/multipage/#parsing-main-inhead:change-the-encoding

This seems annoying, given that html5ever is not necessarily running in Servo. @hsivonen suggests on #whatwg @ Freenode that we might get away with ignoring that part of the spec:

15:14	hs

[2015-08-18 19:52] #121 closed

[2015-08-19 08:49] nox opened #157 "Implement Ruby's <rb> and <rtc>"
This has to wait for the situation between W3C and WHATWG to settle down:

https://www.w3.org/Bugs/Public/show_bug.cgi?id=26189

All the ignored tests from ruby.dat are related to implicit closing with rb and rtc tags.

[2015-08-19 15:29] nox commented on #157
The two following tests also fail for the same reasons:

* tb: tests19.dat-18
* tb: tests19.dat-21

[2015-08-19 15:34] nox commented on #119
Related tests:

* tb: tests20.dat-34
* tb: tests20.dat-35
* tb: tests20.dat-36
* tb: tests20.dat-37

[2015-08-19 16:49] nox commented on #89
Servo now gives:

[code]

#160 and #161 take care of the rest of the issues with integration points.

[2015-08-19 18:36] nox opened #164 "Handle template context in HTML fragment parsing algorithm"
In parse_fragment_to() in driver.rs.

Blocked by #153 and https://github.com/html5lib/html5lib-tests/issues/63.

[2015-08-20 23:46] nox commented on #51
@Ygg01 Ping?

[2015-08-21 08:56] Ygg01 commented on #51
@nox Pong :P Sorry, RL has a way of interfering with best laid plan of mice and men.

Anyway, this been a long time, since I experimented on this, I made it work, but the Rust console output was kinda hard to get to work with what benchmark expected (the lines came out in slightly wrong, non-deterministic order), confusing the hell out of the benchmark tool.

Also a big problem is that it's not Ru

[2015-09-01 12:30] #10 closed

[2015-09-01 12:54] #11 closed

[2015-09-01 15:48] nox commented on #89
Fixed by #160 and #161.

[2015-09-01 15:48] #89 closed

[2015-09-01 16:42] #13 closed

[2015-09-03 16:54] nox commented on #164
https://www.w3.org/Bugs/Public/show_bug.cgi?id=27314

[2015-09-04 00:29] nox commented on #164
https://www.w3.org/Bugs/Public/show_bug.cgi?id=18794
https://github.com/w3c/webcomponents/commit/c3c46d87f9764a746523ec17853b0a5eb5ed46e0

[2015-09-04 10:49] nox commented on #164
No code has to be written for this, html5ever is not the right place for the fix.

See https://github.com/w3c/DOM-Parsing/issues/1.

[2015-09-04 10:49] #164 closed

[2015-09-04 17:29] nox commented on #157
https://github.com/whatwg/html/pull/101

[2015-09-05 15:20] kmcallister opened #171 "Update README re: nightly and stable"

[2015-09-05 16:47] SimonSapin commented on #132
Closing as this doesn't seem to be an issue in html5ever.

[2015-09-05 16:47] #132 closed

[2015-09-22 09:20] #157 closed

[2015-10-12 12:05] #171 closed

[2015-11-02 20:30] Pursuit92 opened #178 "HTML serializer adds end tag to void elements"
For example, `<img src="blah.jpg" alt="blah">` will get re-serialized as `<img src="blah.jpg" alt="blah"></img>`.

This is a direct violation of the WHATWG HTML Spec: "Void elements only have a start tag; end tags must not be specified for void elements."

Relevant spec section [here](https://html.spec.whatwg.org/multipage/syntax.html#void-elements).

[2015-11-02 20:36] Pursuit92 commented on #178
Was using parse_fragment incorrectly, disregard!

[2015-11-02 20:36] #178 closed

[2015-11-20 07:27] #109 closed

[2015-12-02 23:03] gsnedders commented on #18
@SimonSapin what happens when it's in response to a POST request?

[2016-01-04 10:53] GuillaumeGomez commented on #119
I'll work on it (but will need help).

[2016-02-08 08:32] tomjakubowski opened #192 "C API should use std::catch_panic"
Unwinding into C is undefined behavior.  See servo/tendril#9 and https://doc.rust-lang.org/std/thread/fn.catch_panic.html

[2016-02-23 16:26] Ms2ger opened #198 "Move parser suspension code from Servo into h5e proper"
One issue this split has caused is documented in https://github.com/servo/servo/pull/9677

[2016-02-23 16:46] SimonSapin commented on #18
#188 added a `from_bytes` method to `html5ever::driver::Parser` that does some of this (pick an encoding from `Content-Type` `charset` or a BOM, and use rust-encoding).

It should be possible to modify the `html5ever::driver::detect_encoding` function to do the rest of this (in particular scanning for `<meta>` elements) without further API changes.

[2016-02-23 17:30] SimonSapin commented on #198
What does this mean more precisely? Do you have a new design in mind?

[2016-02-23 17:34] jdm commented on #198
There is currently one way to interrupt parsing, via the script element callback. There's no way to queue up bytes for future parsing without continuing to the process, which would be a useful addition. Similarly, this could make it clearer how to implement the insertion point that's necessary for document.write.

[2016-03-15 17:14] RReverser opened #201 "Lazy parsing mode"
We're willing to use html5ever's tokenizer for streaming transformation of HTML (that is, replacing specific attributes on specific tags only - e.g. `src` in `img` or `src` in `script` or `href` in `link`). For that, it would be useful to have lazy mode that would not force parser to parse attributes and content that we don't care about and then force us to serialize them back properly, thus 1) pr

[2016-03-15 17:48] SimonSapin commented on #201
Sorry, I don’t really understand. If you’re already only using the tokenizer and not the full parser, what does it mean to "not parse" or "not decode" attributes?

Regarding formatting, whitespace between tags is already preserved as text tokens/nodes. But whitespace between attributes is not preserved, and doing so sounds like more data to carry around and more work, not less.

[2016-03-15 18:04] RReverser commented on #201
Sorry for the vague description. I mean process in which tokenization would happen (that is, types and boundaries of each token would be identified and corresponding callbacks invoked) but HTML entities, quotes etc. in attribute values and text nodes wouldn't be decoded automatically but rather preserved as-is as views into original chunks until API user invokes the decoding of values themselves m

[2016-03-15 18:14] SimonSapin commented on #201
I’m somewhat skeptical that the pref impact would be significant. The tokenizer has to go through every byte of the value anyway in order to find where it ends, and I think that not having any character reference in a given value is the common case (though admittedly I have zero data on this).

[2016-03-15 18:25] RReverser commented on #201
I thought this way it wouldn't even need to allocate memory chunks for the decoded data, but could reuse same chunks from the input? (although I have zero evidence data as well, it's just how we did that with in-house Ragel-based HTML4 parser)

[2016-03-16 15:04] ordian commented on #51
Also, take a look at [myhtml](https://github.com/lexborisov/myhtml) and benchmarks:
[results](https://raw.githubusercontent.com/lexborisov/benchmark-html-persers/master/Results/time/benchmark_0_500.png)
[code](https://github.com/lexborisov/benchmark-html-persers)

Basically, this benchmark evaluates time of parsing TOP500 alexa sites in memory.

parser  | myhtml | gumbo | html5ever
--------- | ---

[2016-03-16 16:55] asajeffrey commented on #201
@SimonSapin and I had a chat on IRC about this: http://logs.glob.uno/?c=mozilla%23servo#c385665

We realized we had different reads of what you were suggesting, @RReverser, my read is that you are proposing making it possible to replace the `Vec<Attribute>` in a `Tag` by  a `Tendril`, with the idea that in cases where you only care about one attribute (e.g. the `src` attribute of an `img`) you cou

[2016-03-17 00:10] RReverser commented on #201
@asajeffrey Yes, pretty much. The only difference is in

Ideally I wanted to avoid tradeoff by not searching through tendril manually at all. As I said, I want to do streaming transformation, and as @SimonSapin pointed, tokenizer needs to go through those bytes anyway, so ideally I just wanted to have extra hook where attribute names + raw undecoded tendrils would be passed (even though official s

[2016-03-17 00:35] asajeffrey commented on #201
Oh I see. the idea is you could have a type `Tag<A>` where `A` is the type of the attribute store, and it would be created by having `A` implement `FromIterator<Attribute>`, for example the current implementation would be `Tag<Vec<Attribute>>`, but you could also have `Tag<HashMap<QualName,StrTendril>>`, or `Tag<MyCustomAttributes>` which could do filtering etc.

This sounds to me like the trade-o

[2016-03-17 00:41] RReverser commented on #201
@asajeffrey As I said, I totally understand that it's not something on your Roadmap and you have likely more important things to do, it's just that I'm trying to replace custom in-house Ragel-based lexer we use with HTML5-compliant browser-grade parser while preserving performance as closely as possible, so really need to be as lazy about parsing contents as possible as we modify very few things.

[2016-03-17 01:40] asajeffrey commented on #201
Sorry, the tone of my last sentence was a bit off, it read a bit more discouraging than I intended!

The way I'd go about the change you're looking for is:

* Replace `Tag` by something like `TagWith<A>`, where `A` is the type of the attribute store.
* Define a synonym for backward compatibility `type Tag = TagWith<Vec<Attribute>>`.
* Generalize the tokenization algorithm so it works for any `A: F

[2016-03-17 01:57] RReverser commented on #201
@asajeffrey Thanks! I'm wondering on what is the easiest way to extract actual entities decoding to own method - currently it seems to be happening as tokenization goes and distributed across the code (or maybe I'm missing something obvious), so I have no control on when it should be enabled and when skipped entirely for discarded attributes. Any ideas on that part?

As for `TagWith<A>` - I'm curi

[2016-03-17 14:12] asajeffrey commented on #201
@RReverser I think the bits of code that would need to be changed are all in tokenizer/mod.rs, in particular `emit_current_tag` and `finish_attribute`. There are various places where `Vec<Attribute>` and `vec!()` would need to be replaced by something like `A` and `A::new()`.

As for whether you need to expose `TagWith<A>`, you could try an approach of implementing `TagWith<A>` and then providing

[2016-03-17 14:23] RReverser commented on #201
I see, thanks. I'll try to play with it and closing this issue for now, but hopefully you won't mind if I'll have any other specific questions.

[2016-03-17 14:23] #201 closed

[2016-03-17 14:33] asajeffrey commented on #201
Cool, good luck!

As a technical point, I realized that where I said `FromIterator<A>` above, I probably meant `Extend<A>` since that allows you to add new elements to a collection without gathering them all up into an iterator beforehand.

[2016-03-21 16:23] RReverser commented on #201
I see there is `scripts/bench-branches.py` that is supposedly used to run benchmarks, but can't figure out how to run it - it requires to be executed from `build` folder, but the only two folders with such name I found (`target/{debug,release}/build`) don't seem to be the required one.

[2016-03-22 13:36] SimonSapin commented on #201
Based on its use of `../configure` and `make`, it looks like that script was written before html5ever used Cargo. I think this script can safely be removed since it would need to be rewritten completely, and comparing branches is not that useful since no branch other than `master` is being actively developed.

The equivalent of `make bench` would now be `cargo bench`… but that’s broken at the mome

[2016-03-22 13:39] RReverser commented on #201
I see, thanks. I tried running bench via Cargo by installing unstable Rust, but that doesn't work either, so gave up on it.

[2016-03-22 14:03] SimonSapin commented on #201
https://github.com/servo/html5ever/pull/202 makes `cargo bench` build and run again, but I haven’t looked at interpreting results.

[2016-03-22 14:39] Ygg01 commented on #201
That wasn't always the case there was SSE instruction branch.

[2016-03-24 13:07] RReverser opened #203 "C API references non-existing "string_cache.h""
`html5ever.h` [references](https://github.com/servo/html5ever/blob/master/capi/include/html5ever.h#L15) `string_cache.h` although that definition file can't be found neither in this repo nor in https://github.com/servo/string-cache.

Also, https://github.com/servo/html5ever/blob/master/examples/capi/tokenize.c example uses `struct h5e_buf` in place of `scache_atom`s in `html5ever.h` and undefined

[2016-03-24 13:57] Ygg01 commented on #203
kmcallister (kmc) worked on it, before they left. It was here at  https://github.com/servo/string-cache/pull/84 but was never merged with string-cache master. It has bitroted somewhat (May 2015).

I'm willing to work on it, tomorrow, since it's one of the rare days I have time to commit to it.

[2016-03-24 14:05] asajeffrey commented on #203
Note #204

[2016-03-24 14:05] RReverser commented on #203
@Ygg01 Sure, no rush. I'm actually already trying to fix it and come up with PR (no promises yet though).

[2016-03-24 14:05] RReverser commented on #203
@asajeffrey I'm confused as to why it's being removed :/ Hoped for the opposite (extending).

[2016-03-24 14:14] Ygg01 commented on #203
@RReverser If push comes to shove, just copy the capi into a separate crate and publish it independently. You'll probably need to something similar to string-cache.

[2016-03-24 14:15] RReverser commented on #203
@Ygg01 Actually that PR to string-cache looks good to me. Need to try as to whether it still works.

[2016-03-24 14:16] SimonSapin commented on #203
I don’t think there’s anything worth salvaging in `html5ever.h`. Closing in favor of #204, please keep the discussion there.

[2016-03-24 14:16] #203 closed

[2016-03-24 14:18] RReverser commented on #203
@SimonSapin That PR removes C API completely, which might be not the best place for discussing how to fix it :)

[2016-03-24 14:25] SimonSapin commented on #203
As maintainer I declare that there will be no fixing this API in this repository. What’s being removed was a proof of concept and was never very useful in the first place as it only exposed the tokenizer. What’s left to discuss is starting points if you or someone else wants to build something else.

[2016-03-24 14:38] RReverser commented on #203
That's pretty sad to hear. Thanks for the information.

[2016-03-24 17:56] RReverser commented on #203
@SimonSapin Sounds like now all the related issues can be closed altogether :/ #192 #143 #131 #44 #42 #33 #32

[2016-03-24 17:59] SimonSapin commented on #203
Indeed. Thanks.

[2016-03-24 18:00] SimonSapin commented on #192
We removed the C API in #204 since it had been broken for a long time and no-one was maintaining it. If something related is to be added again, I’d rather see it evolve for a while outside this repository.

[2016-03-24 18:00] #192 closed

[2016-03-24 18:01] SimonSapin commented on #32
We removed the C API in #204 since it had been broken for a long time and no-one was maintaining it. If something related is to be added again, I’d rather see it evolve for a while outside this repository.

[2016-03-24 18:01] #32 closed

[2016-03-24 18:01] SimonSapin commented on #33
We removed the C API in #204 since it had been broken for a long time and no-one was maintaining it. If something related is to be added again, I’d rather see it evolve for a while outside this repository.

[2016-03-24 18:01] #33 closed

[2016-03-24 18:01] SimonSapin commented on #42
We removed the C API in #204 since it had been broken for a long time and no-one was maintaining it. If something related is to be added again, I’d rather see it evolve for a while outside this repository.

[2016-03-24 18:01] #42 closed

[2016-03-24 18:01] SimonSapin commented on #44
We removed the C API in #204 since it had been broken for a long time and no-one was maintaining it. If something related is to be added again, I’d rather see it evolve for a while outside this repository.

[2016-03-24 18:01] #44 closed

[2016-03-24 18:01] SimonSapin commented on #131
We removed the C API in #204 since it had been broken for a long time and no-one was maintaining it. If something related is to be added again, I’d rather see it evolve for a while outside this repository.

[2016-03-24 18:01] #131 closed

[2016-03-24 18:02] SimonSapin commented on #143
We removed the C API in #204 since it had been broken for a long time and no-one was maintaining it. If something related is to be added again, I’d rather see it evolve for a while outside this repository.

[2016-03-24 18:02] #143 closed

[2016-03-24 18:03] SimonSapin commented on #44
I have some benchmarks in https://github.com/SimonSapin/html5ever-python/tree/master/benchmarks , but they also include the overhead of Python’s CFFI and of creating Python objects for the tree.

[2016-03-24 18:31] Ygg01 commented on #51
So how do you want this done?

As a shell command that calls different html and parses them? Should we attempt to make our own benchmark or attempt to extend existing benchmarks?

[2016-04-21 17:40] TyOverby opened #208 "html5ever pull tokenizer?"
I'm working on an application where the push-tokenizer that is built into html5ever is not very ergonomic.

Instead of making a sink and having `process_token` get called on it, I would rather enqueue a Tendril, and get an Iterator of Tokens that are parsed and returned on-demand.

My question is: would this be an acceptable option for html5ever?  I wouldn't mind doing the implementation.

[2016-04-21 18:02] jdm commented on #208
@nox and @SimonSapin, any opinions here?

[2016-04-21 18:29] TyOverby commented on #208
A pull-based model would also allow for abandoning a parse midway through.
I also think you could implement push parsing *on top of* pull parsing.

[code]

[2016-04-21 21:52] SimonSapin commented on #208
What about the tokenizer’s own input, when it’s not available all at once?

[2016-04-21 22:19] TyOverby commented on #208
My example was highly simplified.  I would expect that you could have a PullParser struct that kept parse-state and allowed more source to be added over time.  This PullParser would either *be* an iterator, or have an `iter()` method.

[2016-04-22 17:04] Ygg01 commented on #208
@TyOverby So, would this require a major rewrite of rules and state macro?

[2016-04-25 04:14] TyOverby commented on #208
@Ygg01: I doubt it, but since I don't see anyone vehemently opposed, I'll prototype this and see how it turns out.

[2016-04-25 08:49] nox commented on #208
@TyOverby Don't forget that tree building alters tokenisation, though.

[2016-04-25 17:05] TyOverby commented on #208
@nox

In what way can the tree builder change tokenisation?  `set_plaintext_state`?

[2016-04-25 20:54] SimonSapin commented on #208
My opinion is that if you manage to *add* a new pull API without affecting the current push API, go for it. (It’d also be nice to avoid significantly rewriting the tokenizer or tree builder code, as @Ygg01 mentioned.) But I’m skeptical that it’s possible without corountines (that Rust doesn’t have) or threads (that would add synchronization overhead).

[2016-04-25 21:02] TyOverby commented on #208
The tokeniser is already broken up into discrete steps with the `run` method calling a bunch of `step`s.  My plan (and I haven't looked into this *too* deeply), is to write an iterators `next` method that calls into `step`.  `step` will have to be slightly rewritten (for instance, there are quite a few cases that don't return any tokens), but I don't think the change will be huge.

[2016-06-01 12:19] tomaka opened #210 "QualName should be re-exported"
The `QualName` type is used as part of the API, but it is pulled from the `string_cache` crate.
`QualName` should be reexported with a `pub use`, just like `Tendril` already is.

[2016-07-07 19:14] LeMoussel opened #211 "Bad parsing with no closing tag?"
I'm not entirely sure if this is a bug, but when tested [print-rcdom.rs](https://github.com/servo/html5ever/blob/master/examples/print-rcdom.rs) on this page http://cocon.se/, give this result

With this errors

    Bad character
    Attributes on an end tag
    Found special tag while closing generic tag
    Unexpected open element
    Unexpected open element
    Unexpected open element
    Unexp

[2016-07-08 06:51] Ms2ger commented on #211
I expect this is correct per spec; elements such as `a` get cloned in cases like this. Feel free to reopen if you find we don't match the spec or other browsers here.

[2016-07-08 06:51] #211 closed

[2016-08-29 07:11] Ygg01 opened #214 "Missing states in tokenizer"
Tokenizer [states.rs](https://github.com/servo/html5ever/blob/5293725a434bcd6edde1474f55d60a08617c03e3/src/tokenizer/states.rs) seems to be missing following states:
- [Comment Less than Sign State](https://html.spec.whatwg.org/multipage/syntax.html#comment-less-than-sign-state)
- [Comment Less than Sign Bang State](https://html.spec.whatwg.org/multipage/syntax.html#comment-less-than-sign-bang-sta

[2016-08-29 08:07] SimonSapin commented on #214
Do you have an example of input that is tokenized incorrectly as a result? Thanks!

[2016-08-29 08:20] Ms2ger commented on #214
Added in https://github.com/whatwg/html/pull/1356

[2016-08-29 08:43] SimonSapin commented on #214
I don’t see corresponding commits in https://github.com/html5lib/html5lib-tests/ , we should contribute some tests. https://github.com/whatwg/html/pull/1356#issuecomment-222793570 lists some interesting inputs.

[2016-09-29 20:08] jdm opened #216 "Macros to generate tree building rules don't work in current Rust"
Apparently the code was generated long enough ago that rules around writing macros have changed.
[code]

[2016-09-30 13:25] Ygg01 commented on #216
So, this needs to be migrated to `syn` or `syntex`?

[2016-09-30 14:06] jdm commented on #216
Either that or find a way to avoid using a compiler plugin entirely.

[2016-10-01 14:49] jdm commented on #216
Presumably referring to https://github.com/servo/html5ever/blob/master/macros/src/match_token.rs and https://github.com/servo/html5ever/blob/master/macros/src/pre_expand.rs .

[2016-10-01 18:32] Ygg01 commented on #216
And if you choose to avoid compiler plugins, you might need to compare https://github.com/servo/html5ever/blob/master/src/tree_builder/rules.rs and  https://github.com/servo/html5ever/blob/master/src/tree_builder/rules.expanded.rs

[2016-10-03 10:52] Ygg01 commented on #216
Some preliminary findings:
* `syn` only works on custom derive, if we want to maintain current syntax, we need `syntex`.
*  I initially thought I could convert current rules into macros. Since `tag @ <html> => $expr` essentially turns into a

        TagToken(tag @ Tag {kind: StartTag, name: atom!("html"), .. })) => expr

I thought I could turn it into a similar macro. But alas, not problem is `at

[2016-10-03 13:26] jdm commented on #216
I'll see what the people maintaining syntex think about its future.

[2016-10-03 14:11] SimonSapin commented on #216
I’m working on replacing libsyntax’s parsing and quasi-quoting with a simplistic hand-rolled parser and string formatting. A downside is that it is more strict (regarding e.g. whitespace in some places) and provides almost no diagnostics (such as line number) when it encounters unexpected input.

[2016-10-03 16:50] SimonSapin commented on #216
It’s ugly, but it works: https://github.com/servo/html5ever/pull/217

[2016-10-17 21:36] jdm opened #219 "Reduce warning spam"
Two of the most common warnings I see reported in Servo's automatic reporting system are `stop_parsing not implemented, full speed ahead!` and `FIXME:  /script> not fully implemented`. We should investigate what those mean and remove them if they're not actually useful.

[2016-10-17 21:37] jdm commented on #219
https://github.com/servo/html5ever/blob/d4cd4d4598a2e6f00519e1bc8b1f80100a4407c6/src/tree_builder/rules.rs#L795

[2016-10-17 21:37] jdm commented on #219
https://github.com/servo/html5ever/blob/d4cd4d4598a2e6f00519e1bc8b1f80100a4407c6/src/tree_builder/actions.rs#L170

[2016-10-17 21:49] Ygg01 commented on #219
The </script> warning was tied to issues #7 #19.

[2016-10-18 11:50] #216 closed

[2016-11-06 14:30] nox commented on #214
@SimonSapin I don't think these new states change anything except whether parse errors are reported.

[2016-11-06 14:31] nox commented on #119
This was done by @GuillaumeGomez.

[2016-11-06 14:31] #119 closed

[2016-11-06 14:32] nox commented on #208
@TyOverby @SimonSapin We may want to discuss that again now that h5e doesn't own its input stream anymore.

[2016-11-06 14:33] nox commented on #198
This is no longer relevant because I moved even more stuff to Servo to support document.write. Adding stuff in h5e wasn't the solution.

[2016-11-06 14:33] #198 closed

[2016-11-06 14:36] nox commented on #35
Nothing is stable, it's not 1.y.z.

[2016-11-06 14:36] #35 closed

[2016-11-06 14:36] nox commented on #24
We run serializer tests AFAIK.

[2016-11-06 14:36] #24 closed

[2016-11-06 14:56] SimonSapin commented on #35
I think we still maintain compatibility between 0.x.y and 0.x.(y+1) (or rather, increment x when we break something).

But more importantly, "stability attributes may not be used outside of the standard library". (This is the error message when you try.) So +1 for closing.

[2016-11-07 17:28] Ygg01 commented on #112
@nox I think this is essentially closed with newest updates with quasi/syn.

[2016-11-07 17:33] SimonSapin commented on #112
Yes, thanks.

[2016-11-07 17:33] #112 closed

[2016-11-09 22:30] farodin91 opened #234 "Add Atom local_name "allowfullscreen""

[2016-11-10 06:52] SimonSapin commented on #234
Hi! Feel free to send a pull request that adds it to `atoms/local_names.txt` (preferably in its lexicographic order position) and increments the version number in `atoms/Cargo.toml` to 0.1.2.

[2016-11-10 16:22] jackinloadup commented on #234
On it

[2016-11-10 16:23] #234 closed

[2016-11-10 16:24] jackinloadup commented on #234
HA! looks like I was too late. Good to note the issue was that easy. I saw it last night but seems almost too straight forward.

[2016-11-22 16:09] SimonSapin commented on #19
Recent PRs by @nox fix this.

[2016-11-22 16:09] #19 closed

[2016-11-29 19:00] nox commented on #6
document.write landed.

[2016-11-29 19:00] #6 closed

[2017-01-03 10:20] githubububub opened #245 "stack oveflow on page"
yo dis page is cause stack oveflow error. NSFW!

[code]
scraper crate is use html5ever:
[code]

[2017-01-03 14:44] jdm commented on #245
[code]
That's a surprisingly small stack for a stack overflow.

[2017-01-03 14:56] SimonSapin commented on #245
`StringCache::new()` is near the top (bottom?) of the stack, and `size_of::<super::StringCache>()` is 32768. These 32 KB eventually go on the heap since `lazy_static!` uses a `Box` internally, but presumably there’s an intermediate step where they’re on the stack.

Still, even 32 KB doesn’t sound like a lot. Aren’t stacks typically several MBs?

[2017-01-04 06:07] mrnayak opened #246 "Publish html5ever-atoms v0.1.3 on crates.io"
I am working on implementing Sub-resource integrity. I need `integrity` local name for my code change this is available on `0.1.3`

[2017-01-04 13:43] jdm commented on #246
Done!

[2017-01-04 13:43] #246 closed

[2017-01-20 17:06] nox commented on #7
Not needed anymore.

[2017-01-20 17:06] #7 closed

[2017-01-20 17:07] nox commented on #219
`</script>`  has been taken care of. Will look into `stop_parsing`.

[2017-03-04 11:40] nox commented on #51
Closing this for now.

[2017-03-04 11:40] #51 closed

[2017-03-04 11:42] nox commented on #219
I'm pretty sure `stop_parsing` is useless now, will clean up.

[2017-03-04 11:48] nox commented on #208
Closing.

[2017-03-04 11:48] #208 closed

[2017-03-14 12:40] nox opened #258 "Consider killing the TreeBuilderActions trait and its ilk"
They are only there for namespacing reasons.

[2017-03-16 12:59] Ygg01 commented on #258
What changes does this entail? Just moving methods from [TreeBuilderActions](https://github.com/servo/html5ever/blob/master/src/tree_builder/actions.rs#L61)/[TreeBuilderStep](https://github.com/servo/html5ever/blob/master/src/tree_builder/rules.rs#L42) to [TreeBuilder](https://github.com/servo/html5ever/blob/master/src/tree_builder/mod.rs#L86), correct?

[2017-03-16 12:59] nox commented on #258
Yep.

[2017-03-17 09:56] Ygg01 commented on #258
This task seems trivial. Do you guys want to nominate this for Servo starter tasks? Or is html5ever outside of scope for such tasks?

PS. Whoever fixes TreeBuilderActions, could also fix xml5ever, as well.

[2017-03-17 09:57] nox commented on #258
Yes this should be made into an E-Easy issue.

[2017-03-20 12:27] jdm commented on #258
[code]

[2017-03-24 16:25] Januson commented on #258
Hello. I would like to contribute. May I take this issue?

[2017-03-24 17:36] jdm commented on #258
@Januson Please do! Ask questions if anything is unclear.

[2017-03-25 17:45] Januson commented on #258
Thank you. I have a question about visibility. If I understand current code correctly, methods from TreeBuilderStep and TreeBuilderActions traits are private to the tree_builder mod.

First idea how to get gid of these traits was to just copy them to **TreeBuilder**. But I figured that is a bad idea since **tree_builder/mod.rs** would grow past 3k lines. So keeping them separate I run into problem

[2017-03-27 10:43] Ygg01 commented on #258
@Januson I don't think having a file past 3k lines is an issue, in itself? Maybe @nox could weigh in?

[2017-03-30 16:30] froydnj opened #261 "html and xml named entity tables should be shared"
Right now, we have `data/entities.json` and `xml5ever/data/entities.json`, which are identical.  If a project (such as Servo) requires both `html5ever` and `xml5ever`, it'll have duplicate copies of the named entity tables, which are not particularly small--about 230K on x86-64 Linux, roughly half that on 32-bit platforms.

Sticking the entities and the process to generate a phf table for them in

[2017-03-30 16:44] SimonSapin commented on #261
Yes, after discussion in https://github.com/Ygg01/xml5ever/issues/30 we’ve moved the xml5ever code into this repository. The followup that remains to do is sharing more code between them. Maybe the `html5ever_atoms` crate should be renamed something like `markup5ever` and be the place for all the shared stuff.

That’s the plan, it just has seemed low-priority so far.

[2017-03-31 13:07] Ygg01 commented on #261
I don't think that should ever happen. XML5 is explicitly made to be close to HTML5 as possible.

[2017-03-31 13:10] Ygg01 commented on #30
Could we close this issue?

Only rust-lang/rust#15609 is open, and I don't think we really used Bencher all that much?

[2017-03-31 13:53] SimonSapin commented on #30
Agreed.

[2017-03-31 13:53] #30 closed

[2017-04-04 17:02] Januson commented on #258
Hello again. Ihave another question. I moved most of the required methods but I am struggling with methods from **TreeBuilderStep**. I can't figure out how to use **match_token!** macro outside of **tree_builder/rules.rs**. It is somehow generated in **macros/match_token.rs** and **build.rs**. How can I make it visible for methods in **tree_builder/mod.rs**?

[2017-04-04 18:08] SimonSapin commented on #258
That sounds tricky. Can you move the relevant code into `rules.rs`? Or maybe a new module under `tree_builder/`?

[2017-04-04 18:18] SimonSapin commented on #258
If want to go with the latter, add a new call to `expand_match_tokens` in `build.rs`, and in `src/tree_builder/mod.rs` instead of `mod foo;` for the new module use `include!` like for `rules.rs`.

[2017-04-08 21:30] jugglerchris opened #265 "Customising RcDom's Node?"
Hi,
I've been using html5ever with `RcDom`, which is mostly good enough for [what I'm doing](https://crates.io/crates/html2text).  However it'd be really useful if I could attach some extra data to each node (like cached size estimates when rendering tables to text in my case).

I think my needs would be served nicely by making it something like `RcDom<T:Default=()>`, where the `T` is used as an e

[2017-04-08 23:30] SimonSapin commented on #265
Mostly so that html5ever can run its own tests, but it also works as an example yes.

Yes, I was going to suggest this. You can also look at https://github.com/SimonSapin/kuchiki (which is intended to be more user-friendly, with convenience methods etc.) although it also doesn’t support attaching custom data to nodes.

`usize` is `Copy`, so `Cell` might be more convenient than `RefCell`.

[2017-04-09 21:54] jugglerchris commented on #265
Thanks, I'll look into kuchiki!  I guess in theory I could add always add custom attributes (with some care...)

Thanks, good point - I was thinking `Cell` but wrote `RefCell`.

[2017-04-09 21:54] #265 closed

[2017-04-13 10:12] SimonSapin opened #266 "Share more code with xml5ever"
Yes, after discussion in https://github.com/Ygg01/xml5ever/issues/30 we’ve moved the xml5ever code into this repository with the intention to share more code. However much of that has yet to happen. Rough plan:

* Make every crate in the repo use a single [workspace](http://doc.crates.io/manifest.html#the-workspace-section)
* Make sure Travis-CI is running every test
* Rename the the `html5ever_at

[2017-04-13 11:25] Ygg01 commented on #266
Sounds like a plan. I am assuming following structure for workspace:

[code]

[2017-04-14 18:18] Ygg01 commented on #266
Here is the WIP: https://github.com/Ygg01/html5ever/tree/xhtml5ever

Questions I have arise are following:

1. What does [`travis-build.sh`](https://github.com/Ygg01/html5ever/blob/master/scripts/travis-build.sh) does? It's called in `.travis.yml`, but seems to essentially, just call `cargo test`? Or is the capture part doing something interesting?

2. What QualName to use? Apparently, there were

[2017-04-16 00:07] SimonSapin commented on #266
1. `travis-build.sh` could be inlined in `.travis.yml`. Having a separate file avoid doubt of what escaping is required to nest bash syntax inside YAML string syntax.

   Rust’s test harness has a feature where the output of a test is "captured" and shown only that test fails, together with the failure message. Since tests can run in parallel on multiple threads, this avoids interleaved output and

[2017-04-19 08:55] karan1276 commented on #266
Hello, I am a student. I recently started contributing on servo. I found my self doing only "easy" bugs, which gets boring after some time. I would like to work on servo and actually understand whats going on. To begin with i have decided to work on html5ever first and understand how parsing is done at lower levels, If you guys could sort of mentor me that will be great( @SimonSapin  @Ygg01 )

Loo

[2017-04-19 11:32] SimonSapin commented on #266
I think @Ygg01 has already started working on this, so you should coordinate together :)

[2017-04-19 20:26] Januson commented on #258
Thank you for suggestion. I thought about splitting it into methods, so that functionality using match_token macro stays in `rules` module. But I think that would be too cumbersome splitting and I fear it would be beyond my current Rust skills. Other thing I thought of was to extend `TreeBuilder` with the methods of `TreeBuilderStep` but that would make those methods visible outside of `TreeBuilde

[2017-04-20 11:47] Ygg01 commented on #266
@karan1276 I will gladly accept a PR to my PR :P So what do you want to do? Want do you want to know about? You can look at xml5ever as a simplified version of html5ever. Basically, xml5ever and hmtl5ever tokenization is similar, but tree building is waaaay different, because HTML has insertion modes.

@SimonSapin Could I partially commit this? I think I did [items 1-4](https://github.com/servo/ht

[2017-04-20 13:11] SimonSapin commented on #266
@Ygg01 one thing is that if there are breaking API changes I’d prefer to batch them as much as reasonable. Do you think there’s work that can be deferred to later without introducing more breakage then? In any case feel free to send PRs :)

[2017-04-25 11:57] Ygg01 commented on #266
@SimonSapin Ok, I think I got most of stuff done. Only TokenSink and TreeSink are left.

That last might take a bit, since xml5ever `TokenSink` bitrotted a bit. E.g. it still has old  [`fn process_token`](https://github.com/servo/html5ever/commit/7a268f3c66ef680323e39b6ade07875b9595479c#diff-09238cea356947c5f9b11475004c0888L109).

My thoughts are keep those methods but mark them for deprecated, an

[2017-04-25 13:09] SimonSapin commented on #266
Don’t spend effort trying to unify `TokenSink`. The XML5 tokenizer only needs to work with the XML5 tree builder, and the HTML tokenizer only needs to work with the HTML tree builder. They are not interchangeable.

Regarding deprecation, we’re making breaking changes anyway so I wouldn’t worry too much about it.

`pub use markup5ever::*;` sounds good. No risk the we forget to re-export something.

[2017-05-02 17:14] #210 closed

[2017-05-02 17:14] #261 closed

[2017-05-02 17:14] #266 closed

[2017-05-02 17:17] #214 closed

[2017-05-02 17:52] Ygg01 commented on #72
We removed this one with #268 I'm assuming it's no longer relevant.

[2017-05-03 07:03] SimonSapin commented on #149
@nox how does `TreeSink::pop` relate to this?

[2017-05-03 07:30] nox commented on #149
I am not sure we properly call `pop` in all circumstances, but I guess it could be piggybacked for this feature.

[2017-05-04 14:33] vitvakatu opened #269 "Broken links in README"
Links to examples doesn't work, because they has been moved to another folder.

[2017-05-04 15:25] #269 closed

[2017-05-04 17:24] SimonSapin commented on #72
Let’s close, it’s in git history if we want to fix it and use it again later.

[2017-05-04 17:24] #72 closed

[2017-05-05 15:01] Ygg01 opened #271 "Add XML templates to xml5ever"
Since I deleted the repostiory, I've decided to move this issue here. This was a feature @nox  asked, and it seems that it's a pain point in servo as well see  servo/servo#11995.

The algorithm for parsing xml fragment is in [HTML5 spec](https://html.spec.whatwg.org/multipage/xhtml.html#parsing-xhtml-fragments).

Basically, what's needed is to construct a `context` element with given name and a [`

[2017-05-05 15:44] SimonSapin commented on #271
What? Why delete the repository? A number of existing links are gonna be broken :/

[2017-05-05 16:10] Ygg01 commented on #271
I was doing some spring cleaning and removing repositories I didn't need. I wasn't aware there were _any_ links to it.

[2017-05-05 18:15] SimonSapin commented on #271
The code and git history lives on, but a *github* repository also houses a pull request and issue tracker. These contain discussion of why things were done they way they were. For example https://github.com/servo/html5ever/issues/266 links to https://github.com/Ygg01/xml5ever/issues/30. These discussions can still be relevant later.

That’s how the web works. Everything has an URL, and someone doe

[2017-05-08 10:16] Ygg01 commented on #271
Ok. Mea culpa. I'll keep that in mind in future.

[2017-05-11 17:57] SimonSapin commented on #271
Sorry for going off-topic. Back to the actual issue, is an actual `NamespaceMap` really required or only a resolved `(prefix, ns_url, local)` name?

[2017-05-11 23:49] Ygg01 commented on #271
<digression>
No worries, you were right about it. It was a foolish decision on my part.
</digression>

If I understood spec correctly when it says:

That means function parsing XML fragment needs  pairs of `(prefix, ns_url)` as input, plus a way to denote default namespace, so it could create documents with all QualName fields assigned.

To answer the question, I don't think it's necessary to send

[2017-05-12 08:21] SimonSapin commented on #271
Ah, I see. The part I was missing is that the "starting point" of `parse_fragment` also includes all of the context’s namespace declarations, not just the for the "context element".

[2017-05-12 13:14] Ygg01 commented on #271
I think the question that remains is `parse_fragments` definition:

- With NamespaceMap - I think this might be revealing too much internal implementation
[code]

- With `IntoIter<(prefix, ns_url)>` with default namespace
[code]

- With `IntoIter<(Option<prefix>, ns_url)>` with default namespace baked in `IntoIter` (although that leaves the nasty option of what to do when multiple `(None, ns_url)`

[2017-05-13 00:14] SimonSapin commented on #271
In `selectors`, users provide a generic thing with lookup methods:

https://github.com/servo/servo/blob/master/components/selectors/parser.rs#L106-L113

[code]

(`NamespaceUrl` and `NamespacePrefix` are also generic string types in `selectors`, but for `xml5ever` they can be concrete `markup5ever::Namespace` and `markup5ever::Prefix`.)

[2017-05-21 19:43] SimonSapin commented on #271
Maybe not. Servo does not use `parse_fragment` (or anything in the `driver` module), it uses `TreeBuilder::new_for_fragment` and `tokenizer_state_for_context_elem` directly.

I don’t know if there is a use for fragment parsing outside of a browser engine. To the extend that Servo is the only user, there is no need to spend too much time working on a nice API that minimize the amount of user code.

[2017-06-04 14:25] jbg commented on #258
I made a pull request implementing these changes, feedback would be appreciated!

[2017-06-10 11:59] eugene2k opened #275 "Remove confusing references to Parser::from_bytes from documentation"
The BytesParser was removed, but documentation still references it in `src/driver.rs`. Not sure if there are any other places.

[2017-06-13 13:47] nikhilshagri opened #676 "Implement From<&str> for Tendril"
Currently, the `FromStr` trait is implemented for Tendril, which needs to be removed and replaced with a `From<&str>` impl.

[2017-06-13 13:53] cynicaldevil opened #276 "Remove complete_script method from TreeSink trait"
This method is no longer used in html5ever, and xml5ever could be modified to never depend on this method at all.

[2017-06-26 16:47] killercup opened #281 "Implement PartialEq for RcDom types?"
For fun, I've been fiddling with a simple fuzzer for html5ever that reads html into an RcDom, writes it out to a string and reads it in for a second time into another RcDom, to then compare the two DOMs.

To not write a huge bunch of helper code, I'd need an implementation PartialEq for Node and NodeData. This is easy to add -- I just needed to write the impl myself for Node to skip the `parent` f

[2017-06-26 17:52] SimonSapin commented on #281
Is this "deep" sub-tree comparison rather than node identity by address? The downside is that `==` (compared to a named method) is that it doesn’t say.

More importantly though, `rcdom` mostly exists to enable html5ever to run its own test suite. I’d rather not got down the path of adding many convenience methods to make it nice to use for many different use cases, that’s rather [Kuchiki](https://

[2017-06-26 17:56] cynicaldevil opened #282 "Consider making BufferQueue Send"
This is needed for the Off-main thread HTML parsing project, where the tokenizer will operate in a separate thread, and the BufferQueue needs to be shared between threads. We can go about two separate ways to do this:
1. Refactor `BufferQueue`'s buffer field to contain `VecDeque<Tendril<UTF8, Atomic>>` instead of `VecDeque<StrTendril>`. This would mean that atomic Tendrils would be used everywhere

[2017-06-26 18:00] SimonSapin commented on #282
Random ideas:

Do you want to send entire queues rather than individual tendrils? Could Servo’s other threads use `VecDeque<Tendril<UTF8, Atomic>>` directly?

[2017-06-26 18:50] killercup commented on #281
Literally only the fuzzer script. And only to see that the read-write-read roundtrip works. Honestly, I was just bored.

Kuchiki seem nice, but very under-documented. I'll have a look, and maybe send a PR or two :)

[2017-06-26 19:34] cynicaldevil commented on #282
I didn't understand your idea completely, but right now sending the entire queue is the plan.

[2017-07-03 02:08] DemiMarie opened #286 "html5ever is much slower than MyHTML"
<https://lexborisov.github.io/benchmark-html-persers/> shows html5ever performing very badly against [MyHTML](https://github.com/lexborisov/myhtml), which furthermore has fewer bugs and ~~supports `document.write()`~~ html5ever supports `document.write()` in modern versions (thanks @jdm).

[2017-07-03 02:10] jdm commented on #286
html5ever also supports document.write().

[2017-07-03 02:13] DemiMarie commented on #286
@jdm That must be an old version I was thinking of, sorry.

[2017-07-03 08:03] SimonSapin commented on #286
Sorry, I don’t see the point of this issue. “Fewer bugs” is very non-specific. If you’re aware of bugs in the latest version that aren’t listed in https://github.com/servo/html5ever/issues, it’d be more helpful to file them individually.

As to performance, just stating “very bad” isn’t particularly actionable either. Are you interested in investigating low-hanging fruit to fix performance issues?

[2017-07-03 08:03] nox commented on #286
That benchmark doesn't show how `html5ever` was compiled though.

[2017-07-03 13:24] SimonSapin commented on #286
Closing for lack of actionable items.

[2017-07-03 14:58] jdm commented on #286
The actionable item is attempting to reproduce the results. The benchmark repository looks like it's in good shape for doing that.

[2017-07-03 15:15] Ygg01 commented on #286
@jdm Perhaps issue #45  #51 might be more appropriate? I did ask about setting up benchmarks in a way that would work best for all parsers, but got no response, so I thought there wasn't any interest.

AFAICT the https://github.com/lexborisov/benchmark-html-persers uses C bindings for html5ever. I thought those were abandoned more than a year ago.

[2017-07-03 15:25] jdm commented on #286
https://github.com/swizard0/html2html_lib/blob/master/src/lib.rs is the Rust code that parses the document; the benchmark calls that function from C.

[2017-07-03 15:30] SimonSapin commented on #286
The C bindings in this repository were removed a year ago. IIRC they had been broken since we started using string-cache (since string-cache itself doesn’t have a C API), which happened 3 years ago. Also these bindings were only for tokenization.

According to [its `README.md`](https://github.com/lexborisov/benchmark-html-persers/blob/master/README.md), this benchmark uses [swizard0/html2html_lib]

[2017-07-07 14:17] estin opened #287 "silent segfault"
Source:

[code]

Output:

[code]

Environment:

[code]

[2017-07-07 14:43] jdm commented on #287
Could you run this under a debugger and get a backtrace of the segfault?

[2017-07-07 18:53] estin commented on #287
Seems like https://github.com/rust-lang/rust/issues/43110

[code]

[2017-07-10 17:49] Ygg01 commented on #287
It seems issue  rust-lang/rust#43110 was replaced by  rust-lang/rust#43102

[2017-07-22 22:55] ordian commented on #286
I was able to build the benchmarks. See [fork](https://github.com/ordian/benchmark-html-persers).
[Here](https://docs.google.com/spreadsheets/d/1W2wb4SNT4LQLLt9X_Y5fkl7Yly_3X6EaDv-yqqMAUhg/edit?usp=sharing) are my local results with top(ish) 11 sites (you can see the plots by clicking on "explore" in the right bottom corner).

[2017-07-23 01:46] DemiMarie commented on #286
MyHTML’s tree design only makes sense with a GC or with an immutable DOM.
So I think that we should try with html5ever having an arena.

On Jul 22, 2017 6:55 PM, "Andronik Ordian" <notifications@github.com> wrote:

[2017-07-23 02:12] DemiMarie commented on #286
MyHTML’s tree design only makes sense with a GC or with an immutable DOM.
So I think that we should try with html5ever having an arena.  Gumbo has a pluggable allocator, so we should give it an arena too.

Could it be that the DOM-manipulation methods in RcDom are not getting inlined?  That would explain the slowdown.

[2017-07-23 02:46] SimonSapin commented on #286
The benchmark’s `extern fn parse_document` uses `TendrilSink::read_from` with a `&[u8]` slice, treating it as a stream of unknown length that is copied into 4 KB chunks. It should use `one` instead, to use the slice as a single chunk. (Even that does a extra copy, though I don’t know if that’s significant compared to parsing time.)

[2017-07-23 10:03] SimonSapin commented on #286
I’ve added an arena-allocated tree, as an alternative to rcdom: https://github.com/servo/html5ever/pull/288. It doesn’t use `unsafe` (except in the arena library), and shouldn’t have more overhead than a tree based on raw pointers.

[2017-07-23 12:41] ordian commented on #286
@SimonSapin I've added your example to [fork](https://github.com/ordian/benchmark-html-parsers).
![time](https://user-images.githubusercontent.com/4211399/28499387-3a02cf7e-6fbd-11e7-94d1-3d9991de39cc.png)

[2017-07-23 13:03] SimonSapin commented on #286
So the arena making parsing a lot faster in some cases and a lot slower in others. This seems forth investigating, but I likely won’t take time to do that in the near future.

[2017-07-23 16:43] ordian commented on #286
I've [tried](https://github.com/ordian/benchmark-html-parsers/commit/e35195764597d7dac704f27439c106d0aca83e64) to make the benchmarks more scientific. Now arena-allocated tree doesn't look slower than rcdom.

[2017-07-23 16:54] SimonSapin commented on #286
Looks good, thanks. This shows that reference-counting does have overhead, but that doesn’t account for all the difference with MyHTML. The next step is probably profiling to find hot spots in html5ever.

[2017-07-23 17:21] DemiMarie commented on #286
According to `perf` 18% of the time is spent in `tendril::push_char`.  That looks somewhat suspicious.

[2017-07-23 17:22] DemiMarie commented on #286
And 7.88 % is spent in `core::fmt::write_char`.  That should not even be called by html5ever.

[2017-07-23 17:32] DemiMarie commented on #286
Here is a rasterized flame graph:
![flamegraph](https://user-images.githubusercontent.com/6395399/28501515-32473732-6fab-11e7-8038-952e334ee10b.png)
Here is the original vectorized version (rename from .txt to .svg to view it – GitHub does not allow it because SVG files can and do contain JavaScript):
[flamegraph.txt](https://github.com/servo/html5ever/files/1168260/flamegraph.txt)

[2017-07-23 22:56] SimonSapin commented on #286
The tokenizer does work with `char`s, effectively decoding UTF-8 and then re-encoding it. We should consider working on slices or `u8` bytes, instead. This should be equivalent since all characters that are significant for HTML syntax are in the ASCII range instead. However this is not a small change, it’d take a significant amount of work.

[2017-07-24 12:41] Ygg01 commented on #286
@SimonSapin So if I understand correctly, this means we should use more `ByteTendril`s instead of `StrTendril`s, correct? Or iterate over `StrTendril` as if they were `ByteTendril`?

[2017-07-24 13:24] SimonSapin commented on #286
I mean only changing internal details of the tokenizer. All APIs should keep using `StrTendril`.

[2017-07-25 12:05] Ygg01 commented on #286
So, internally, we should use more `u8`. This means internally, we should use `u8` instead of  `char`, correct?

Will this require changes to `Tendril` or do we just use `tendril.borrow()`?

[2017-07-25 12:17] SimonSapin commented on #286
I’d use `str::as_bytes` though `Deref<Target=str> for StrTendril`.

Also look if `Tendril::push_char` is used with `char`s from another tendril. In those cases, try instead to keep start and end indices around and then use `Tendril::subtendril` to get a reference-counted view of the same buffer, without copying data.

[2017-07-26 11:25] Ygg01 commented on #286
Yes, one interesting problem is how to solve [`get_preprocesed_char`](https://github.com/servo/html5ever/blob/abd8e2274b2232abf02873f4dfd399b0cf209bb4/html5ever/src/tokenizer/mod.rs#L265-L272) in an elegant way? I mean, I could create a random mask but it probably won't be as elegant as that. One thing that could work is perhaps some kind of macro that at compile time, essentially turn into that e

[2017-07-30 23:20] DemiMarie opened #289 "Guarantee O(n) time even for malicious input"
HTML parsers are not just used in client-side applications: they are also used on servers, such as in HTML sanitizers.  html5ever (and xml5ever) should guarantee that they cannot be coerced into taking more than O(n), or at worst O(n log n), time.  This may be difficult, especially if one does not want to use massively connected datastructures.

Right now, it seems that the worst offenders are lik

[2017-07-31 11:55] Ygg01 commented on #289
Excellent point.  I think attribute duplication is probably the worst offender, especially in xml5ever, since it does attribute removal twice (first time in tokenizer and second after namespace resolution).

Any ideas how other parsers limit the execution time to `O(n)` (or `O(n log n)` )?

[2017-07-31 13:19] DemiMarie commented on #289
I know Gumbo does worse than html5ever; really deep nesting is enough to
make it go quadratic.

The main problem seems to be the active formatting elements and unclosed
elements vectors.  I am not sure how to pull off guaranteed linear time.
Maybe by caching, or by storing flags instead of searching the lists?  Some
steps seem to require a linked list be used instead of a vector, so as to
allow O(

[2017-07-31 13:33] DemiMarie commented on #289
Another option is to deliberately impose an artificial cap on the length of
those lists.  Ugly, and in violation of the spec, but the only simple
option I see.

On Jul 31, 2017 9:19 AM, "Demi Obenour" <demiobenour@gmail.com> wrote:

[2017-07-31 14:55] SimonSapin commented on #289
I’ve changed the title because "guarantee" is not gonna happen unless we have static analysis that can tell if we’re doing something wrong, and that sounds like a hard research problem.

Do you know specific inputs where html5ever currently behaves badly?

[2017-07-31 18:43] DemiMarie commented on #289
A long string of opening <I> tags, followed by a bunch of nested links.
Causes quadratic time consumption.

On Jul 31, 2017 10:56 AM, "Simon Sapin" <notifications@github.com> wrote:

[2017-07-31 22:05] DemiMarie commented on #289
@SimonSapin A long string of opening `<i>` tags, followed by a bunch of nested links, causes quadratic time consumption in the adoption agency algorithm.  You can reproduce this with `perl -e 'my $x = 20000; print("<i>"x$x . "<a>"x$x . "</a>"x$x)' | html2html`.

[2017-07-31 22:26] DemiMarie opened #290 "Segmentation fault on extremely pathological input"
From the checkout root:
[code]
results in `Segmentation fault (core dumped)`.

Trying to use Valgrind results in:

    ==8667== Memcheck, a memory error detector
    ==8667== Copyright (C) 2002-2017, and GNU GPL'd, by Julian Seward et al.
    ==8667== Using Valgrind-3.13.0 and LibVEX; rerun with -h for copyright info
    ==8667== Command: target/release/examples/html2html
    ==8667==
    ==8667==

[2017-07-31 22:29] DemiMarie commented on #290
So does

[code]

[2017-07-31 22:34] DemiMarie commented on #289
So does

[code]

Time is spent in
[code]
according to `perf`.

[2017-08-01 19:16] jechas01 opened #292 "Feature request: Ability to serialize malformed token stream"
We have a use case that requires the ability to re-serialize malformed html input without needing to insert extra open tags to appease the Serializer, which panics when it tries to serialize a close tag when the stack is empty.

The obvious (naive perhaps?) solution is to provide a mechanism to manipulate the stack in order to fake the presence of an open tag. Alternatively, the behavior could be

[2017-08-01 21:11] jechas01 commented on #292
On further inspection, the stack that's causing me so much headache is only in the html5ever implementation of the Serializer trait, which doesn't have any notion of a stack. So now I'm thinking it's likely a mistake to expose it through that interface since there may not even be a stack behind the scenes.

[2017-08-02 12:56] Ygg01 commented on #292
@jechas01 Could you elaborate a bit more? What do you mean by `re-serialize`? You serialize, parse and then serialize again? Do you do modifications during tokenization/treebuilding that aren't in HTML5 spec?

[2017-08-02 13:25] cynicaldevil commented on #282
Found another way to make it work, hence closing this.

[2017-08-02 13:25] #282 closed

[2017-08-02 15:10] jechas01 commented on #292
We tokenize input which may or may not be valid/complete, do some modifications such as removing tags or attributes, and then re-serialize whatever is left. None of our processing will make the html invalid per the HTML5 spec, but it may come to us that way.

Sorry, should have linked back to the PR that spawned this issue, #277

[2017-08-02 22:23] TerraX-net opened #294 "XML: draconian error handling for application/xhtml+xml and application/xml"
People are using xhtml because they expect to get a Yellow Screen of Death if code is wrong and are hoping for faster parsing, otherwise they could just write pretty html.
https://fastaim.de/test2/ has a Yellow Screen of Death in Firefox, but not in Servo, for example.

I followed the XML5 discussion and saw arguments to use its error corrections for broken RSS feeds and broken SVG inside html and

[2017-08-02 22:27] SimonSapin commented on #294
"XML 5 strict mode" doesn’t make sense. If you want XML 1 error handling, you need to use an XML 1 parser. Others already exist in Rust. To make one with an API similar to html5ever and xml5ever, we could make a third crate alongside these two that would also use the markup5ever crate.

[2017-08-03 10:01] Ygg01 commented on #294
Things to note:

-  [Chrome is also displaying this page correctly](https://i.imgur.com/iQKBMSX.jpg).
-  [IE Displays this page correctly](https://i.imgur.com/Zmswk3U.jpg)

IMO it makes more sense to compete with Chrome/IE in this instance.

As I pointed out above, Chrome already isn't strict. Chrome is majority of browser market on mobile and PC.

Let's say we adopt this policy. We continue error

[2017-08-03 12:34] TerraX-net commented on #294
Oh, this must be relatively new (some months?) and I haven't found a bug about it so far. Maybe there is still a chance to  intervene (if it would make sense).

This is what we fear.
Firefox still has a notable market share and web developers are testing their sites against it.
And Firefox 57+ should be a strong push in market share. So this issue would be more about keeping a behavior.

I agree w

[2017-08-03 13:13] Ygg01 commented on #294
@TerraX-net :

Hm, this is a difficult question. I'd need to sit down and write normal XML parsing rules in HTML5 state style. Then see if the rules map 1-on-1 to XML5 rules. Theoretically speaking, it could be true, errors, have the small penalty of emitting error.

[2017-08-03 13:31] SimonSapin commented on #294
If we’re talking about browsers, it seems like there’s two separate discussions here:

* What html5ever and related crates should provide for various Rust projects. This is how I was responding in my previous comment.
* What *Servo* should do with `Content-Type: application/xhtml+xml` documents. This is the wrong forum to have this discussion. Servo issues should be discussed on https://github.com

[2017-08-03 17:49] TerraX-net commented on #294
Parse it as far it's possible, but tell what the errors were. Maybe by passing a flag together with the file if one wanted to get an error list (use case: e.g. the Developer Tools are opened)

If the XML5 parser has the same speed or might be even faster for a well-written XHTML5 than an oldstyle XML1 parser, I would only see advantages (Browser parity, no frustrated users by a YSoD, speed for goo

[2017-08-03 20:23] TerraX-net commented on #294
Ygg01 made clear to me that I should rather ask if this XML5 parser
* could return a list of errors, if it was asked for (which was the reason for opening this issue)
* has the same or a better performance with well-formed (&lightweight) XHTML5 (compared to an XML1 and/or HTML parser)

because then I don't wanted to suggest a draconian error handling, but only a feature of this component.

[2017-08-04 12:41] uranther opened #296 "Master and v0.18.0 do not compile on Rust 1.17.0"
I cannot seem to compile html5ever on OS X El Capitan. I am using `rustc 1.16.0 (30cf806ef 2017-03-10)` and I followed the brew install directions for servo.

I tried both nightly (master branch) of this repo and compiling the v1.18.0 crate and get this same error on markup5ever (verbose output below).

[code]

[2017-08-04 12:53] SimonSapin commented on #296
These standard library methods were stabilized in Rust 1.17. Can you upgrade your compiler?

[2017-08-04 13:18] uranther commented on #296
Got it!! I had installed Rust using the recommended `curl https://sh.rustup.rs -sSf | sh`, but homebrew has the latest 1.19 and that works now.

[2017-08-04 13:18] #296 closed

[2017-08-04 14:11] jdm commented on #296
Note that using rustup requires manually updating the installed version of Rust; it does not happen automatically.

[2017-08-06 14:37] DemiMarie commented on #290
After I upgraded Rust, I got `fatal runtime error: stack overflow`.

So the problem is in the tree traversal.

[2017-08-08 10:18] cynicaldevil opened #298 "Pass insertion point to TreeSink's `associate_with_form` to avoid `same_tree` check"
This would allow the `same_tree` check to happen in the main thread itself during the tree op execution stage, thus eliminating the need to access the DOM in the tree op creation stage.
cc @nox

[2017-08-08 12:37] jdm commented on #298
That sounds like a good solution to me.

[2017-08-09 14:11] Ygg01 commented on #258
@jbg Congrats! Your change is implemented and this bug can be closed :D

[2017-08-09 15:36] #258 closed

[2017-08-14 21:58] #292 closed

[2017-08-16 02:08] DemiMarie opened #301 "Stripping of bad input"
This is a feature request for the ability to “correct” bad input, by stripping away parts that are not conforming to the spec.  This is mostly useful for sanitizers, especially for pages that want to ensure that their contents are valid HTML.

This is a feature request for html5ever because of the intimate knowledge of the spec required.

[2017-08-18 15:04] cynicaldevil commented on #298
Fixed in #300

[2017-08-18 15:04] #298 closed

[2017-08-18 15:05] cynicaldevil opened #303 "Remove `same_tree` and `has_parent_node` methods from the TreeSink trait"
These methods are no longer used by the TreeBuilder and can be removed safely.

[2017-08-24 04:11] shinglyu commented on #18
You mentioned

But I tried

[code]

I still got diamonds

![selection_136](https://user-images.githubusercontent.com/3250983/29649195-3955cc7c-88c5-11e7-825e-2ddf9ada4d42.png)

[2017-08-24 05:05] jdm commented on #18
@shinglyu Servo doesn't process meta tags yet.

[2017-08-24 06:23] shinglyu commented on #18
@jdm: I see, so the parser has the ability to do so but it's not hooked up in servo yet?

[2017-08-24 07:55] SimonSapin commented on #18
I meant `Content-Type` the HTTP header. And yes, using that API in Servo never landed because tests failed because `<script>` handling was incorrect.

[2017-08-24 08:09] shinglyu commented on #18
@SimonSapin Is https://github.com/servo/servo/pull/9730 what you were talking about?

[2017-08-24 08:11] SimonSapin commented on #18
Yes.

[2017-08-24 08:56] shinglyu commented on #18
I wrote a test server to have `Content-Type=text/html; charset=big5` in my HTTP header. (see the screenshot from webkit devtool)
![selection_137](https://user-images.githubusercontent.com/3250983/29657350-e2f2af88-88e9-11e7-89b1-9a9c2630665f.png)

But servo still renders it incorrectly.

A dumb question: how do I break in the html5ever code using gdb from servo? I tried `b driver.rs:<line no>` but

[2017-08-24 12:56] SimonSapin commented on #18
No need for a debugger, I can confirm that current Servo always uses UTF-8 for HTML. (https://github.com/servo/servo/pull/9730 never landed.)

https://github.com/servo/servo/blob/1aacbce053/components/script/dom/servoparser/mod.rs#L346-L365

What happened with #9730 is that I first tried to build an abstraction in html5ever with a nice simplified API, and then realized it didn’t fit what Servo nee

[2017-08-25 04:40] rozuur commented on #303
Can I work on this?

[2017-08-25 06:02] jdm commented on #303
@rozuur Sure!

[2017-08-26 20:17] Eijebong opened #305 "Crash when parsing an argument value that is `\r\n`"
Hi,

I was trying to fuzz ammonia to see if there was anything that would make it crash and found this string `<a a=\r\n` that makes html5ever panic.

Here is the test example:

[code]

The panic/backtrace:
[code]

[2017-08-27 14:28] Eijebong commented on #305
Looked at it a little bit. It seems that https://github.com/servo/html5ever/blob/master/html5ever/src/tokenizer/mod.rs#L252 is the problem since the string that's failing has a '\r\n' at the end of the document.

So it hits `get_preprocessed_char` with '\r', `self.ignore_lf` is set to true and '\n' is processed.
It then re hits `get_preprocessed_char` but `self.ignore_lf` is true, so it fetches th

[2017-08-29 10:22] Ygg01 commented on #286
@SimonSapin Is there a particular reason a Tokenizer doesn't own the `BufferQueue` given to it? Does having them separate enable some sort of workflow that can't be replicated otherwise?

[2017-08-29 10:48] nox commented on #286
@Ygg01 If the tokeniser owns the buffer queue, we can't implement document.write nor speculative parsing.

[2017-08-29 11:14] Ygg01 commented on #286
Thanks nox, that's what I feared :(

In order to implement document.write/speculative parsing, what are the limitations? For example, does `BufferQueue` need `push_front`, `push_back`?

I ask, because keeping indices of a tendril for a let's say `temp_buf`, leads to some really weird syntax. I.e. it requires you to pass `BufferQueue` the only time, you don't need it, i.e. when you actually pass a

[2017-08-31 12:07] Ygg01 commented on #286
@nox Do you have any thoughts on:

Especially, how does one keep indicies into another tendril, when `document.write` could potentially change the tendril? Note: I am assuming the indices are being kept by the `Tokenizer`.

[2017-08-31 12:09] nox commented on #286
I don't understand your concern, keep indices during processing, then update the passed tendril so that the processed input is stripped off of its beginning.

[2017-08-31 15:12] Ygg01 commented on #286
At the risk of sounding obtuse, what counts as "during processing".

Hm, perhaps a better question would be  - When would you convert indices into subtendrils? At end of each   `state::Data => loop {}`?

[2017-09-05 23:38] cynicaldevil commented on #303
@rozuur Any updates?

[2017-09-06 07:34] rozuur commented on #303
@cynicaldevil  I will send a pull request by EOW.

[2017-09-07 00:47] #275 closed

[2017-09-07 04:38] rozuur commented on #303
Made changes and all tests are passing.

[2017-10-04 09:12] #303 closed

[2017-10-07 12:51] rozuur commented on #276
I have sent a review to remove complete_script method.

[2017-10-17 14:01] jdm opened #315 "Fix warnings in xml5ever"
[code]

[2017-10-19 04:10] milindjain0 commented on #315
I would like to work on this. I am new to this and help from a mentor for getting started would be appreciated.

Thanks

[2017-10-19 09:18] SimonSapin commented on #315
Hi @milindjain0. Are you familiar with GitHub’s pull request workflow?

After cloning this repository, you can run `cargo build` to compile everything. You should see the same warnings as above. Then change the code until you can compile without warnings, and send a pull request.

For the unused macros, double check that they don’t have a `#[macro_export]` attribute above them. This would make the

[2017-10-21 12:24] milindjain0 commented on #315
Hi,

I was able to build the code using ./mach build -d and run using ./mach run ...

I am not able to use cargo

Do I need to set environment variables for using Cargo?

Thanks

[2017-10-21 12:39] KiChjang commented on #315
@milindjain0 You shouldn't be using mach for this issue, let alone this repository. What you need to do is clone html5ever, cd into it and run `cargo build` as @SimonSapin has outlined above.

[2017-10-21 13:04] milindjain0 commented on #315
@KiChjang I cloned html5ever and tried cargo -build but I am getting no command find I have not installed rust and cargo currently How do I know the version which needs to be installed?

Thanks

[2017-10-21 13:45] jdm commented on #315
@milindjain0 Servo's build system installs a very specific version of rust in a particular place. I recommend following the regular Rust installation steps at https://www.rust-lang.org/en-US/install.html.

[2017-10-21 14:04] milindjain0 commented on #315
I am getting the following error on running `cargo build`
[code]

[2017-10-21 14:11] milindjain0 commented on #315
@jdm @KiChjang  @SimonSapin  Thanks Everything is working fine now!

[2017-10-23 20:44] duxum commented on #315
Was playing with this and I did as @SimonSapin wrote, and there are no longer warnings. Should I go ahead and PR.
Thanks,

[2017-10-23 20:47] duxum commented on #315
Was playing with this and did as @SimonSapin wrote, and there are no longer warnings. Should I go ahead PR.
Thanks,

[2017-10-23 21:06] KiChjang commented on #315
@duxum Sorry, but isn't @milindjain0 already working on this issue?

[2017-10-23 23:16] duxum commented on #315
@KiChjang Okay, no problem. However, I guess a tag that it is assigned should be added.

[2017-10-24 15:53] milindjain0 commented on #315
@KiChjang  @SimonSapin  @jdm I have made a PR after making the changes to remove the warning and `cargo build` is working

[2017-10-24 16:37] milindjain0 commented on #315
@jdm @KiChjang  @SimonSapin Can you suggest some other issue to work on or some feature?

[2017-10-24 17:50] #315 closed

[2017-10-24 17:55] jdm commented on #305
@milindjain0 You could fix this bug. I agree that removing the assertion is the right solution.

[2017-10-26 09:01] RazrFalcon opened #321 "xml5ever/CHANGELOG.md is broken and outdated"
1. There are no links, so `[version]` is useless.
1. It's pretty outdated.

Should be updated or removed.

[2017-10-26 12:42] Ygg01 commented on #321
Hi RazrFalcon, yeah, I tried keeping changelog while I was working on it, but then it got integrated into the larger h5e repo.

The question is, whether h5e/m5e/x5e want to keep the Changelog. Is this useful for the project at large?

[2017-10-26 12:47] Ygg01 commented on #301
Interesting proposal, initially I thought that just serializing the parsed output won't work.

The issue, is valid HTML is different than parsed HTML, e.g. you cant have two element with different id, etc.

[2017-10-26 13:16] jdm commented on #321
We don't use changelogs in other projects, so I am inclined to remove it.

[2017-10-30 10:13] lnicola opened #323 "[Question] Parsing HTML fragments"
Is there a way to parse some text as a `Text` node without a `body` element being automatically created?

See https://play.rust-lang.org/?gist=5632132a9b670f3831a10c931f78c28c&version=stable for an example. I'm interested in a way to have `<html>foo</html>` and `foo` parse differently.

[2017-10-30 15:05] Ygg01 commented on #323
Hi, the thing `parse_fragments` does is execute this algorithm:  https://html.spec.whatwg.org/multipage/parsing.html#parsing-html-fragments if you look at step 1, it's construct an html node.

What you guys needs is something else, I think. Would writing a custom TokenSink, that upon detecting a non-text token would just short circuits, work for you?

[2017-10-30 19:51] #323 closed

[2017-11-03 16:32] Ygg01 opened #325 "Improving h5e/x5e extension story"
Hi, for issue #323 I was writing a small  `TokenSink` implementation. And to be honest, it took me good half-hour, to hour for that simplistic implementation.

I think what we might need is better docs, and possibly some convenience method. One pain point was adding following part:

[code]

Do we need a different `tok.feed` and `tok.end()` methods? Can they be `let _ = tok.exec(&mut input)`?

One

[2017-12-01 07:01] #321 closed

[2018-02-10 12:20] sanmai-NL commented on #45
japaric/criterion.rs#23 is implemented.

[2018-03-30 16:48] Adonai opened #340 "[Question] Remove formatting from HTML document when parsing?"
Hi, is it possible to remove HTML formatting (indentation, newlines) when parsing to DOM model?
I mean, like regexing out all "^\s+" and then ">/n<" except `<pre>` tags.

[2018-03-30 19:39] SimonSapin commented on #340
html5ever itself doesn’t do that, whitespace between tags is considered no different from other text. What you could do is parse normally into a tree, and then traverse text nodes and do string manipulation.

[2018-03-30 19:57] Adonai commented on #340
Ok, this answers my question so I'm closing it, thanks.

Regarding the suggestion, could please elaborate a bit, how would this be done? Suppose I have following html:
[code]

What text node manipulation (`NodeData::Text { ref content }`, I suppose?) would convert it to
[code]

[2018-03-30 19:58] #340 closed

[2018-04-23 03:07] therealbstern opened #342 "Build failure on x86_64, rust 1.25.0"
[code]

Note that the following build command works:

`LD_LIBRARY_PATH=/usr/local/lib/rustlib/x86_64-unknown-linux-gnu/lib cargo build -vv`

[code]

[2018-04-23 05:15] SimonSapin commented on #342
This looks like not a bug in html5ever’s source code but rather in your Rust/Cargo install. How did you install them? Does the same happen if you install through https://rustup.rs/ ?

[2018-04-23 18:06] SimonSapin commented on #342
Ok. It look like rustup does set `LD_LIBRARY_PATH`: https://github.com/rust-lang-nursery/rustup.rs/blob/1.11.0/src/rustup/toolchain.rs#L404-L431. I’m fairly sure this is a compiler install issue and not at all an html5ever bug.

[2018-04-23 20:39] krk commented on #305
This one fails with 0.22.2 too.

[code]

[2018-04-23 20:41] krk commented on #290
Reproducible in 0.22.2

[2018-04-23 21:53] therealbstern commented on #342
Rustup may set it for its own use, but I haven't needed it set for any other crate's build.  (It looks to me like this was added to rustup in response to https://github.com/rust-lang-nursery/rustup.rs/issues/932).  In particular, https://github.com/rust-lang-nursery/rustup.rs/issues/932#issuecomment-287250911 has some discussion of this.

Another path that works is adding `-C rpath` to the `rustc`

[2018-04-23 22:40] therealbstern commented on #342
This is a rust problem, commenting over there.

[2018-04-23 22:40] #342 closed

[2018-04-24 07:24] SimonSapin commented on #342
This build script (indirectly) uses the `proc_macro` crate, which apparently is only distributed as a `.so` file, no `.rlib` (unlike `std` for example which has both). I *think* this is related to the fact that procedural macros are usually loaded by the compiler through dynamic linking, but maybe the `.rlib` file should be distributed anyway.

[2018-04-24 20:01] therealbstern commented on #342
I concur with your analysis, including that it's not a Servo problem, even though only Servo has triggered it in my experience.  Clearly, other packages that do the same thing with `proc_macro` could (and probably do) have this problem.

I referenced this issue as noted, since the Cargo people need to be aware.  Please note that this problem is in the following Servo crates: `html5ever`, `markup5e

[2018-04-25 21:16] DemiMarie commented on #290
I think html5ever should impose a nesting limit.  This would solve this and
many other problems related to excessive nesting depth.  Furthermore,
Safari already implements such a limit.

On Mon, Apr 23, 2018, 4:41 PM Kerem <notifications@github.com> wrote:

[2018-08-20 21:03] #305 closed

[2018-10-07 21:10] d33tah opened #351 "thread 'main' panicked at 'assertion failed: c.is_some()'"
`src/main.rs`:

[code]

`Cargo.toml`
[code]

And here's `failing` file, compressed with `zip`: [failing.zip](https://github.com/servo/html5ever/files/2454326/failing.zip)

[code]

[2018-10-07 21:54] Eijebong commented on #351
Pretty sure this is #305

[2018-11-02 05:23] atouchet opened #354 "Publish html5ever 0.22.4 and xml5ever 0.12.1"
Both of these are not available on crates.io.

[2018-11-05 15:30] SimonSapin commented on #354
Done: https://crates.io/crates/xml5ever/0.12.1

[2018-11-05 15:30] #354 closed

[2018-12-14 14:07] #45 closed

[2019-01-14 14:05] mozfreddyb commented on #290
FWIW, the nesting limit for Blink and Firefox is now 512. See https://github.com/whatwg/html/issues/3732#issuecomment-453965126 and especially the links from the following comment.

[2019-03-03 01:25] tcurdt opened #362 "html2html does not build"
I tried to build the `html2html` [example](https://github.com/servo/html5ever/blob/master/html5ever/examples/html2html.rs) but the build fails

[code]

[code]

[2019-03-03 01:44] SimonSapin commented on #362
What version of Rust are you using? The [`hint`](https://doc.rust-lang.org/std/hint/index.html) module was added in 1.27.

[2019-03-03 01:48] tcurdt commented on #362
Aaaaah ... that's explains things!

[code]

Will update. Thanks for the hint and sorry for the noise :)

[2019-03-03 01:59] tcurdt commented on #362
Works! Thanks!

[2019-03-03 01:59] #362 closed

[2019-03-07 12:32] tcurdt opened #363 "docs/example of searching and modifying the dom"
I would be great to have an example or more explicit docs that shows how to search and modify the dom - or did I just not find that?

[2019-03-07 12:41] SimonSapin commented on #363
html5ever is really a parser (and serializer) that supports any data structure that implements the `TreeSink` trait. The `rcdom` module exists more to support html5ever’s own tests than for serious tree manipulation.

https://crates.io/crates/kuchiki is a proof-of-concept for providing more convenience APIs and plumbing a tree together with the parser and with CSS selector matching. But it also co

[2019-03-07 13:02] tcurdt commented on #363
@SimonSapin Thanks for the quick reply. That sounds like bad news though. Bummer. Writing a complete DOM first seems a bit out of scope.

I guess I need to find another way for `parse -> dom -> manipulate -> serialize` then.

[2019-03-07 13:11] SimonSapin commented on #363
To be clear I think Kuchiki (which uses html5ever) is what you want, though the documentation is not great.

[2019-03-07 13:42] tcurdt commented on #363
Thanks, will give it a try.

When you say "not actively working on it" does that mean "in maintenance mode" or "noone looks after it"?

[2019-03-07 13:44] SimonSapin commented on #363
Depends what you mean by “look after” exactly. I try to respond to issues and PRs but I make no promise about time.

[2019-03-07 13:55] tcurdt commented on #363
...bug fixes, merging PRs, releases - that sort of thing.

[2019-03-11 12:53] ignatenkobrain opened #365 "Include LICENSE files into sub-crates"
We need that in order to package mark5ever and such in Fedora.

[2019-03-13 19:24] kornelski opened #367 "Usage of QualName is not well documented"
[The documentation](https://docs.rs/html5ever/0.22.5/html5ever/interface/struct.QualName.html) explains well what is the local name in general from HTML/XML perspective, but doesn't say anything about its usage in this particular Rust implementation. For example:

- How to get the name as `&str`?
- How to compare the name against several names in `match`?
- How to create a new one? `new()` says it

[2019-03-13 23:23] SimonSapin commented on #367
Yes, the doc’s prose could definitely be improved here.

It’s somewhat unfortunate that when the type of a field is a type alias, rustdoc doesn’t show the alias’s name. These are relevant here:

* https://docs.rs/html5ever/0.22.5/html5ever/type.LocalName.html
* https://docs.rs/html5ever/0.22.5/html5ever/type.Namespace.html
* https://docs.rs/html5ever/0.22.5/html5ever/type.Prefix.html
* https://doc

[2019-03-14 12:33] Ygg01 commented on #367
I'd be up for updating the docs. To clarify, is this the definitive list of additional docs?

- Get `&str` from local_name
- Using `match` and Atoms?
- Example of creating a `QualName` (is using macros ok?)

[2019-03-16 19:20] kornelski commented on #367
@Ygg01 Yes, that would be very useful. It'd also be good to re-export the types in this crate, so that rustdoc can show them.

[2019-03-18 20:25] jdm opened #368 "Implement full XML serialization for nodes"
The implementation in https://github.com/servo/html5ever/blob/master/xml5ever/src/serialize/mod.rs is fairly simplistic, and does not reflect the complexity described by https://w3c.github.io/DOM-Parsing/#dfn-xml-serialization.

[2019-03-20 12:29] kornelski opened #369 "Creating attribute not recognized by local_name!()"
1. html5ever v0.22.5 is unaware of the `decoding` attribute: https://html.spec.whatwg.org/multipage/embedded-content.html#attr-img-decoding

2. `QualName::new(None, ns!(), local_name!("decoding"))` doesn't recognize the name. Is there another way to create the attribute?

[2019-03-20 13:39] SimonSapin commented on #369
If an attribute name is mentioned in the HTML spec, it should probably be added to [the set of statically-known strings for `LocalName`](https://github.com/servo/html5ever/blob/master/markup5ever/local_names.txt) so that it can be used with the `local_name!` macro.

`LocalName` implements [`From<&str>`](https://docs.rs/string_cache/0.7.3/string_cache/atom/struct.Atom.html#impl-From%3C%26%27a%20str

[2019-03-27 10:13] Ygg01 commented on #367
@kornelski Hi, I've done examples of usage of `&str` from `local_name`,  explained the `QualName::new`, and added extra `QualName::expanded` comments.

I'm unsure where do you expect to find the usage of `match` on `Atoms` docs?

[2019-03-28 02:54] kornelski commented on #367
Thank you for adding it.

Example with `LocalName::from` solves my question on how to create them.

I asked about `Atom`, because it's an opaque type in the docs (docs.rs doesn't link to its description), so I couldn't see how to use it. From the examples I can guess it implements deref to `&str`, so that answers my question.

[2019-03-28 10:17] Ygg01 commented on #367
@SimonSapin is there a way to link to Atom documentation on docs.rs or is reexporting the preferred choice?

Hm. In hindsight maybe macros will need more docs. I'll probably copy paste them from `QualName` docs.

[2019-03-29 13:08] #365 closed

[2019-03-30 12:57] Ygg01 commented on #368
Ok, I'm down with doing this.

My biggest questions are. Should this also add fragment parsing (#271)? Also while digging through the code I found #122 that might be tangentially related.

Right now I'm implementing parts of XML parsing. I'll probably leave fragment parsing for another time and possibly see about fixing #122

[2019-03-30 13:21] jdm commented on #368
I believe #122 is part of the full serialization algorithm, yes

[2019-04-26 17:39] jdm opened #371 "Rewrite RcDom's serialize implementation to be iterative"
If we use a work queue for child nodes that still need to be serialized like Servo's [SerializationIterator](https://github.com/servo/servo/blob/b4a2d60b25ced61a7f5b23df33036b8d55ee0ce8/components/script/dom/servoparser/html.rs#L152-L262), this will be more efficient and have better performance than a recursive implementation.

[2019-04-27 08:06] #371 closed

[2019-05-02 14:13] andy128k opened #373 "Unable to create Node since 0.22.8"
It was possible to create `Node`, but since 0.22.8 it has private field, so creation is impossible. Method `Node::new` could be used but it is also private.

[2019-05-02 15:36] jdm commented on #373
Opened #374 to address this.

[2019-05-03 13:39] ignatenkobrain opened #375 "html5ever broke API compatibility due to update to 0.8 of markup5ever"
I have tried to build `html2pango` which uses html5ever, but it fails:

[code]

This is probably related to https://github.com/servo/html5ever/commit/8bf65ef61daf612a3b4d7e6007fde7297d6210eb#diff-500557afae4b1b1befdebc4eedf9cc09 which has changed API.

Since html5ever is re-exporting markup5ever, it should bump semver when latter is making incompatible changes.

Thanks.

[2019-05-03 13:43] jdm commented on #375
Duplicate of #373. I'll be addressing the semver issue in #374.

[2019-05-03 13:43] #375 closed

[2019-05-03 14:11] jdm commented on #373
Fixed by #374, and released in 0.23.0.

[2019-05-03 14:11] #373 closed

[2019-06-17 15:07] murtyjones opened #376 "What is the inverse of `parse_document`?"
Usage question:

I parsed an HTML document using `html5ever::driver::parse_document`, and added an attribute to a node. Now I'd like to convert the parsed document back to a `String`, but I'm not clear on how best to do this without doing something like [walking and printing the entire DOM](https://github.com/servo/html5ever/blob/master/html5ever/examples/print-rcdom.rs). Is there a method availab

[2019-06-17 16:55] jdm commented on #376
You're looking for the [serialize](https://docs.rs/html5ever/0.23.0/html5ever/serialize/fn.serialize.html) API.

[2019-06-17 18:35] murtyjones commented on #376
Nice, thanks!

For those in the same boat, here's some example usage where I write my parsed doc to a file:

[code]

[2019-06-17 18:35] #376 closed

[2019-06-18 17:18] murtyjones commented on #81
Since this issue is pretty old at this point I figured I'd ask a followup: Is there an idiomatic way to access a node's siblings?

[2019-06-25 01:49] murtyjones opened #377 "Unable to get parent element from Node"
### [Minimal reproducible example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=790b19e9c7935c940bc47f19ceb8069e).

## Expected Behavior
Get the parent (`Option<Weak<Node>>`) from a Node using Cell's [`get`](https://doc.rust-lang.org/std/cell/struct.Cell.html#method.get)  method.

## Actual Behavior
[code]

I can use another method, such as [`take`](https://doc.rust-lang

[2019-06-25 01:51] jdm commented on #377
I think you're looking for the `get` method.

[2019-06-25 01:53] jdm commented on #377
Huh. This is a regression from https://github.com/servo/html5ever/commit/8bf65ef61daf612a3b4d7e6007fde7297d6210eb

[2019-07-08 18:30] murtyjones commented on #377
For anyone like me who's trying to work around this, you may be able to use `.take()` + `.set()` + `.clone()` to effectively emulate `.get()`. E.g.:
[code]

[2019-07-10 19:34] est31 opened #378 "Replace rustc-serialize dev-dependency with serde_json"
serde 1.0 has been around [since over two years](https://github.com/serde-rs/serde/releases/tag/v1.0.0) now, so I think one could think about removing rustc-serialize. I see two tasks:

- [x] removal in html5ever tests: #379
- [x] removal in xml5ever tests: #382

[2019-07-10 19:39] jdm commented on #378
* https://github.com/servo/html5ever/blob/284953ee8721e3442bb130c96e2428c2e8319274/xml5ever/Cargo.toml#L29
* https://github.com/servo/html5ever/blob/284953ee8721e3442bb130c96e2428c2e8319274/html5ever/Cargo.toml#L35

Example use:
* https://github.com/servo/html5ever/blob/284953ee8721e3442bb130c96e2428c2e8319274/xml5ever/tests/tokenizer.rs#L159-L206
* https://github.com/servo/html5ever/blob/284953ee

[2019-07-19 04:35] est31 commented on #378
Both PRs are merged, closing.

[2019-07-19 04:35] #378 closed

[2019-07-20 12:10] murtyjones commented on #377
The code I suggested above compiles but still yields a dangling weak pointer at runtime... anyone know of an alternative?

[2019-07-20 15:20] kornelski opened #383 "Drop of RcDom unexpectedly empties all Nodes"
This is a regression in 0.23 from 0.22. Previously, `Node` was independent from `RcDom` and it was possible to continue using `Node`s after dropping the `RcDom` object.

Since 0.23 dropping of `RcDom` clears document's `.children` as a side effect, making it impossible to use the document without keeping `RcDom` instance around.

[code]

with

[code]

the test passes, and with

[code]

the test fa

[2019-07-21 01:46] jdm commented on #377
I'm looked into this, and the only solution I see is to make the parent field a RefCell instead of Cell. Node is going to continue to require a Drop implementation for the forseeable future, and this will prevent it being used with Cell methods that require a Copy bound.

[2019-07-21 01:59] jdm commented on #377
Oh, I think I was wrong - I assumed this was a change in behaviour from earlier versions of html5ever, but `Cell<Rc<T>>` will never allow the use of `.get()`. I agree that this isn't particularly idiomatic, but I'm going to defer implementing the RefCell solution for now given that the take+set combo works.

[2019-07-21 02:02] jdm commented on #383
Agreed. I've figured out a better solution to 8bf65ef61daf612a3b4d7e6007fde7297d6210eb that will avoid this behaviour.

[2019-07-21 02:07] jdm opened #385 "Extract RcDom out of markup5ever"
RcDom was never intended to be a production-quality implementation. It's not something that we care about maintaining over time for the purpose, so I want to extract it into its own crate that contains appropriate warnings and maintenance guarantees (read: zero) and remove it as a public API from xml5ever and html5ever.

[2019-07-21 04:37] #383 closed

[2019-07-25 21:01] murtyjones commented on #377
@jdm Makes sense to me. `.take()` + `.set()` is working pretty well for my purposes and since it sounds like it's sticking around I'll close this out for now.

[2019-07-25 21:01] #377 closed

[2019-08-22 11:11] murtyjones opened #388 "Escaping Node Contents"
I have a node that I'm looking to serialize with `xml5ever::serialize::serialize`, that represents a graph and looks like this:

[code]

Notice the inclusion of the `<` and `>` characters.

These seem to be interpreted as nodes during serialization, meaning that something like this: `<OW:MZ^` is converted to a closing tag that looks like this: `</OW:MZ^>`. The ultimate result is that the serialize

[2019-08-22 11:43] murtyjones commented on #388
I think the issue is around having invalid XML, which I gather is out of scope for this library.

[2019-08-22 11:43] #388 closed

[2019-08-30 11:52] mozfreddyb opened #675 "TendrilSink::ReadFrom should only use uninitialized bytes for Files"
The code:
[code]

[2019-09-03 21:10] jdm commented on #118
https://html.spec.whatwg.org/multipage/parsing.html#parsing-main-inforeign
https://www.w3.org/TR/SVGMobile12/script.html#ScriptContentProcessing

[2019-09-21 17:40] atouchet opened #391 "Publish html5ever 0.24.1"
The latest version on crates.io is still 0.24.0.

[2019-09-22 05:43] atouchet commented on #391
This was done: https://crates.io/crates/html5ever/0.24.1

[2019-09-22 05:43] #391 closed

[2019-09-27 08:09] joelwurtz opened #393 "Segfault with html5ever when using it in golang with a signal handler"
This is really a weird bug that occurs on one of our program, i managed to make a reproduce small example under this repository: https://github.com/joelwurtz/segfault-golang-with-rust

What it does:

 * We are parsing a html fragment which contains a not existing local name attribute under html5ever
 * We exposing this parsing under a static library (on the musl target)
 * We compile this static l

[2019-09-27 09:44] SimonSapin commented on #393
Are you able to get a more precise stack trace at the time of segfault? Perhaps with gdb? Are there multiple kernel threads in this process? Does more than one of them call into Rust code? Can they run at the same time, or does your reduced program only do one call into Rust? Is Rust code called from a signal handler? (I’m not familiar with Go but you mentioning a "signal channel" suggest that the

[2019-09-27 10:00] joelwurtz commented on #393
Unfortunetaly no, the only stack trace that i got is this one:

[code]

I believe using compiler_builtins on 0.1.19 would give me a better stack trace (thanks to https://github.com/rust-lang/compiler-builtins/commit/985a43095c82822e928e08ba3d12fad90ef8d59e), but don't really know how to build the whole toolchain to have it

I believe there are since i got this from gdb (but not an expert on this s

[2019-09-27 11:01] SimonSapin commented on #393
This looks like the Rust code in your program doesn’t have debug info. Do you call Cargo with `--release`? In gdb more useful if you remove that?

Removing `--release` will also disable compiler optimizations, which could potentially make the bug disappear. If that happens, see https://doc.rust-lang.org/cargo/reference/manifest.html#the-profile-sections for configuring Cargo with both optimization

[2019-09-27 12:20] joelwurtz commented on #393
Not i'm using the debug version see https://github.com/joelwurtz/segfault-golang-with-rust/blob/master/main.go#L4 which got the bug

[2019-09-30 13:32] SimonSapin commented on #393
Thanks to nagisa for investigating in https://github.com/rust-lang/rust/issues/64834. I can reproduce a segfault when creating a dynamic atom with a small stack:

[code]
[code]

https://github.com/servo/string-cache/pull/227 fixes it for me. Could you try it? See https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#overriding-dependencies about overriding the `string_cache` crate

[2019-09-30 14:05] #393 closed

[2019-09-30 15:57] joelwurtz commented on #393
Yes it works, thanks a lot for fixing this

[2019-10-24 23:05] federicomenaquintero opened #400 "Clarify docs for expanded_name!()"
I'm not sure if this is a typo in the macro pattern or just docs that could be improved :)  The `expanded_name!` macro can be used like `expanded_name!("", "foo")` for names without a namespace, or `expanded_name!(svg "bar")` for names with a namespace, in particular those that the `ns!` macro recognizes.

It took me a while to see why `expanded_name!(svg, "bar")` didn't compile - the macro defini

[2019-10-24 23:07] jdm commented on #400
There are many uses of expanded_name with a namespace in the code, so let's go ahead and update the docs.

[2019-10-24 23:51] federicomenaquintero commented on #400
Thanks!  Posted a PR.

[2019-10-25 12:39] #400 closed

[2019-12-10 17:15] pshaughn commented on #368
https://github.com/servo/servo/issues/24920 looks like it's because of a step in this, "Elements not in the HTML namespace containing no children, are serialized using the empty-element tag syntax (i.e., according to the XML EmptyElemTag production). "

[2019-12-19 14:48] kornelski opened #407 "Upgrading instructions for 0.25"
I can't find release notes. I can't find a changelog. I can't find what has changed in the API, so I'm struggling to update my code.

It seems like 0.25 has been a major change of the API, and `RcDom` [has been dropped entirely](https://docs.rs/html5ever/0.25.1/html5ever/?search=RcDom), all of my code is incompatible, and I don't even know where to start fixing it.

[2019-12-19 15:16] jdm commented on #407
The changes in 0.25 represent that RcDom was only ever intended as an internal API for tests and provides no guarantees around safety/correctness. If you wish to continue using it, the code is available at https://github.com/servo/html5ever/tree/master/rcdom.

[2019-12-19 15:17] jdm commented on #407
Kuchiki's tree representation is a better supported tree type: https://github.com/kuchiki-rs/kuchiki/blob/master/src/tree.rs

[2019-12-19 15:58] SimonSapin commented on #407
Err I don’t know, nobody’s contributing to it at the moment.

[2019-12-19 18:02] kornelski commented on #407
Kuchiki doesn't use the latest version html5ever. The test rcdom crate has dropped support for serialization (which I also relied on), so I it seems that I won't be able to upgrade for now.

[2019-12-19 18:37] jdm commented on #407
I have submitted https://github.com/kuchiki-rs/kuchiki/pull/65.

[2020-01-01 04:33] Ygg01 commented on #368
@jdm yeah. I'm back on this issue. After a long time, I finally have time off. However I notice few problems.

1.  There is no type `Document` or `DocumentFragment`.
2.  To fulfil the problematic parts. Namely to get [skip end tag](https://w3c.github.io/DOM-Parsing/#dfn-skip-end-tag) in step 14. I need to know if the node has children or not, which I can't get from serializer unless some things ar

[2020-01-03 00:11] jdm commented on #368
Yeah, if we need to be able to represent more kinds of nodes then we should add those variants. As for question 2, modifying the Serializer trait to provide the information you require sounds reasonable. If we can pass an argument to start_elem instead of adding a new separate method that's only used by the XML serializer, that might be preferable.

[2020-01-10 15:23] federicomenaquintero commented on #369
Should the statically-known strings include non-HTML attribute names?  For librsvg I need the `parse` attribute from xinclude.  I've been using things like this:

[code]

I can submit a PR for those missing names if they are in markup5ever's scope.

[2020-01-10 15:27] jdm commented on #369
I'm inclined to say no, but I'll defer to @SimonSapin here.

[2020-01-10 18:20] SimonSapin commented on #369
I think any name that can commonly appear in a DOM attribute name or element name on web content should be fine to add, especially if it’s defined in a W3C or WHATWG spec. In this specific case, Servo will likely want to implement SVG eventually.

[2020-01-24 09:22] jdm opened #410 "rcdom's node's destructor clears all children for nodes that can have strong references outside of the tree"
#409 contains this code:
[code]
Our current implementation does not perform this check, but presumably this isn't a case that affects our tests which are largely concerned with the tree structure.

[2020-01-24 09:26] jdm commented on #281
Since RcDom is now officially an internal-only crate intended for tests, I'm going to go ahead and close this.

[2020-01-24 09:26] #281 closed

[2020-01-24 09:27] jdm commented on #38
We have no plans to do this.

[2020-01-24 09:27] #38 closed

[2020-01-24 09:31] jdm commented on #367
There are now docs realted to QualName.

[2020-01-24 09:31] #367 closed

[2020-01-28 15:45] pshaughn commented on #369
"download", "translate", "spellcheck", and "reversed" are other HTML content attributes missing from the list.

[2020-02-15 15:01] ignatenkobrain opened #412 "Include LICENSE files into a rcdom crate"
Would be much appreciated, thanks!

[2020-02-17 11:03] Ygg01 commented on #412
I assume the rcdom being part of html5ever system has the same licence?

[2020-02-18 12:50] jdm commented on #412
Correct.

[2020-03-31 20:32] jyn514 opened #414 "Very large performance regression from 0.22 to 0.24"
(I'm aware 0.25.1 is the latest version, if this is fixed on master let me know and I can close this. 0.25 removed RcDom so it would take some set up on my end to switch)

Docs.rs uses html5ever to parse HTML files generated by rustdoc. We recently updated from 0.22 to 0.24 and docs.rs started using so much CPU that all requests turned into 500 errors. The 0.24 version was deployed from 20:04 to 2

[2020-03-31 21:29] jdm commented on #414
Can you share an example document that shows a measurable performance difference when parsing it?

[2020-03-31 21:34] jdm commented on #414
My only guess as to what could have changed is https://github.com/servo/html5ever/commit/81ea581da593034b773de3c6f3e3535b0f66e51f; none of the rest of the commits look like they should have an impact on parsing performance.

[2020-03-31 21:38] jyn514 commented on #414
I can try, it might take me a while.

[2020-03-31 21:43] jyn514 commented on #414
It can't have been https://github.com/servo/html5ever/commit/81ea581da593034b773de3c6f3e3535b0f66e51f because that's only part of 0.25, not 0.24.

[2020-04-01 22:15] jyn514 commented on #414
Benchmarks with 0.25 and kuchiki still show a big slowdown, but not as bad as 0.24: https://github.com/rust-lang/docs.rs/pull/671#issuecomment-607514793

[2020-04-02 04:25] jdm commented on #414
We probably won't be able to investigate this until sometime next week due to deadlines, unfortunately.

[2020-04-09 16:48] jyn514 commented on #414
Just checking on the status of this, you mentioned you might have a time to look at it this week? No problem if not, this isn't urgent for us.

[2020-04-09 16:55] jdm commented on #414
We have not had any time due to the previous deadlines being extended to accommodate delays.

[2020-05-27 03:13] jyn514 commented on #414
Checking back in on this, let me know if there's any more I can do to identify the source of the regressions.

[2020-06-01 23:04] jdm commented on #414
How am I supposed to run the benchmark code? The cratesfyi crate does not appear to exist on crates.io.

[2020-06-01 23:06] jdm commented on #414
The most useful thing for me would be a standalone cargo project that runs a bunch of html5ever ever code infinitely in a loop that I can run in a profiler. Even better if it's very easy to swap out the version of html5ever that's in use in order to compare profiles and identify what changed to make it slower.

[2020-06-02 00:15] jyn514 commented on #414
Here is a standalone project that runs the html5ever code indefinitely in a loop: https://github.com/jyn514/html5ever-example

To swap out the html5ever, just change the version specified in `Cargo.toml`. Unfortunately this will only work for versions up to 0.24 (since rcdom was removed in 0.25). You can use 0.25 through kuchiki by checking out the `kuchiki` branch.

[2020-06-06 16:27] jdm commented on #414
I applied the following patch to that example code:
[code]
Using 0.24, I got `105ms/iter`. Using 0.23, I got `106ms/iter`. Using 0.22, I got `105ms/iter`. Before I spend time trying to dig in, I'd like to be sure that this code is actually representative of the performance regression that you're observing.

[2020-06-06 16:37] jdm commented on #414
Thanks for the standalone project! I applied the following change to it:
[code]
And ran `cargo run --release` 8 times for each of 0.22, 0.23, and 0.24. I got these results:

[code]
The spread definitely looks like versions since 0.22 take longer.

[2020-06-06 16:38] jdm commented on #414
That being said, we're taking about a difference between 6.7ms and 7.7ms, but I'll see if a profile shows anything interesting.

[2020-06-06 19:37] jyn514 commented on #414
Awesome, thanks for the response! I agree that doesn't seem to explain the spike in usage we saw, but I'm at a loss as to what else it could be ... the only changes we made were those in https://github.com/rust-lang/docs.rs/pull/668/files (html5ever plus some transitive dependencies). I'll see whether we can try 0.25 instead and see if that has less of a usage spike than 0.24, I remember I benched

[2020-06-13 18:30] Kixiron opened #420 "Configurable memory limit"
I’ve been running into an issue where large documents (few hundred MiB) being parsed cause massive amounts of memory usage that can slow or even crash (drastically crash, sometimes causing OOM kills) in production and the ability to limit the memory usage of kuchiki would be invaluable. Having a memory limit could also allow the usage of preallocated buffers, which would do wonders for performance

[2020-06-14 04:18] Kixiron opened #421 "Jumping on uninitalized value"
While running valgrind on my program, I found this
[code]
gdb then pointed out the source of the problem, which is [this snippet](https://github.com/servo/html5ever/blob/master/html5ever/src/tree_builder/data.rs#L157)
[code]

[2020-06-14 14:42] jdm commented on #421
@Kixiron Do you have a public codebase that reproduces the error that I can refer to?

[2020-06-14 15:02] jdm commented on #421
I've tried running https://github.com/jyn514/html5ever-example/blob/master/src/struct.CaptureMatches.html through a kuchiki example program under valgrind, and I don't see the error you reported. A minimal program that reproduces the error would be most useful for me.

[2020-06-14 15:06] Kixiron commented on #421
The code's all on [this branch](https://github.com/Kixiron/docs.rs/tree/parse-perf), I made a [minimal reproduction](https://github.com/Kixiron/docs.rs/blob/parse-perf/src/bin/html5ever.rs) with [this](https://github.com/Kixiron/docs.rs/blob/parse-perf/src/utils/html.rs#L6-L50) being all the parse-related code. For reproduction steps I simply ran `cargo build --release --bin html5ever` and then `v

[2020-06-14 15:11] Kixiron commented on #421
Me running that binary gives this output
[code]

[2020-06-14 15:17] jdm commented on #421
Oh, interesting, I can reproduce the same problem in the kuchiki example when running with --release, but not with a debug build.

[2020-06-14 15:22] Kixiron commented on #421
Same on my end, debug builds have no issues

[2020-06-14 15:22] froydnj commented on #421
These sorts of errors are typically because LLVM has made valid optimizations but valgrind doesn’t/can’t understand that, so valgrind flags a potential error.

[2020-06-14 15:36] jdm commented on #421
Also interesting - when I add a println above [this line](https://github.com/servo/html5ever/blob/a0c14d8c1e0dafc79f15287ba64a7127c913bd99/html5ever/src/tree_builder/data.rs#L150) for `opt_string_as_slice(&system)` the valgrind error disappears. My suspicion that this is a compiler bug grows.

[2020-06-14 15:48] jdm commented on #421
Rewriting the match as a series of equivalent if let and if statements does not change the valgrind output.

[2020-06-14 15:58] jdm commented on #421
The following diff makes the error disappear:
[code]

[2020-06-14 16:11] jdm commented on #421
This is a minimal reproduction of the same problem. I'll try filing it on rustc and see if anything comes of it:
[code]

[2020-06-14 16:17] jdm commented on #421
Filed https://github.com/rust-lang/rust/issues/73344.

[2020-06-15 09:42] Ygg01 commented on #420
Are there any examples you can share? It seems bizarre that a few hundred MiB documents can cause OOM.

[2020-06-15 16:07] Kixiron commented on #420
[This](https://send.firefox.com/download/ae4e4bda11feacaf/#c_KN48z7LAZrJa_D7R-c6A) (300MiB) is our most problematic example, it and similarly sized ones have OOM'd a 15GB server, but other smaller ones have similarly painful consequences. The code we use to handle html is [here](https://github.com/rust-lang/docs.rs/blob/master/src/utils/html.rs#L8-L36), it doesn't seem like it should have any spec

[2020-06-15 16:24] pietroalbini commented on #420
Other than downloading it from Firefox Send, it's possible to regenerate that file by running:

[code]

The file will be located at:

[code]

The file is a rendered code highlighting of a 946k lines source code file.

[2020-06-15 20:00] jdm commented on #420
As a point of interest, I just ran the jni-android-sys HTML through the kuchiki [find_matches](https://github.com/kuchiki-rs/kuchiki/blob/master/examples/find_matches.rs) example program. htop didn't report the program taking more than 4gb of memory over the course of its execution.

[2020-06-16 11:52] jdm commented on #421
Given https://github.com/rust-lang/rust/issues/73344#issuecomment-643789590, I suspect the answer here is to update valgrind and leave the html5ever code unchanged.

[2020-06-16 14:13] #421 closed

[2020-06-16 21:54] jyn514 commented on #414
It seems that this was not nearly as bad a spike in 0.25, so this can probably be closed. It's still slightly worse performance than 0.22 so if you see something interesting I'd love to have it improved, but it's not a high priority.

[2020-06-16 21:54] #414 closed

[2020-06-16 21:59] jyn514 commented on #420
We took a closer look at the metrics for the VM and there were four bursts of downloads from S3, so it's likely that four requests happened at the same time. That would explain OOMing if a single parse takes around 4GB of RAM.

An increase in memory usage 10x the size of the file seems a little large to me, is it possible to improve that? We're hoping to [start parsing only a single file at a time

[2020-06-25 02:16] aminya opened #423 "LibXML2 bindings for html5ever"
Is there a possibility that we have LibXML2 bindings for html5ever similar to how gumbo has it?
https://github.com/nostrademons/gumbo-libxml

I have a program that is written on top of LibXML2, however, I need to parse HTML5 with it.

[2020-06-25 02:41] jdm commented on #423
The current maintainers of this library have no experience with libxml2 and won't spend any time investigating this as a possibility, sorry.

[2020-06-25 04:08] aminya commented on #423
The conversion is very simple. We just need a `node_convert` function similar to [this](https://github.com/sevenval/gumbo-libxml/blob/f96a091c2c000b0ab3d1458e76748a7e2e486af4/gumbo_libxml.c#L30-L100) to convert html5ever nodes to LibXML nodes, and also a parse function which uses that similar to [this](https://github.com/sevenval/gumbo-libxml/blob/f96a091c2c000b0ab3d1458e76748a7e2e486af4/gumbo_lib

[2020-06-25 12:38] SimonSapin commented on #423
There is no such thing as html5ever nodes. Instead the intended use is that you implement the `html5ever::tree_builder::TreeSink` trait to parse into whatever tree representation you wish, including libxml nodes. Such support doesn’t need to live in this crate or repository. The `rcdom` crate has a naive `TreeSink` implementation and tree data structure that exist mostly so we can run tests, and c

[2020-07-01 16:26] jdm commented on #420
I've filed https://github.com/kuchiki-rs/kuchiki/issues/73 for one quick win for memory usage for your use case.

[2020-08-10 02:13] himat opened #425 "Possible to disable sanitizing?"
Hi, according to the w3 specs, you're not allowed to have a `<div>` inside of a `<p>`, but I came across a website that had such a case. When I parse it with html5ever, it turns the `<p><div></div></p>` into `<p></p> <div></div> <p></p>`.

But for my use case, I need the DOM to be exactly as it was originally without any changes.

Is it possible to disable the sanitization or checker that runs tha

[2020-08-10 02:19] jdm commented on #425
The html5ever parsing algorithm is intentionally forgiving for input that isn't valid when parsing web pages. We are not interested in maintaining a stricter mode of operation that Servo would not use.

[2020-08-10 02:19] #425 closed

[2020-08-10 02:19] himat commented on #425
@jdm  But I'm asking for a less strict mode?
I just want the DOM to be parsed without following the w3c specs exactly.

[2020-08-10 02:23] jdm commented on #425
Sorry, I did mean less strict rather than stricter. The point is that it's not a mode that the Servo web browser would use, and it's easier for us to maintain a parser that matches the specification as closely as possible.

[2020-08-17 02:48] 707090 commented on #48
I am interested in this feature. What is the status of this? Is there some spanning information available or is this yet to be implemented?

My use case is that I am using html5ever in my proc macros to parse templates for a web framework and I would like to give errors with spans that point various parts of the original HTML

[2020-08-17 03:25] jdm commented on #48
The tree builder sink is notified when the current line is updated via https://github.com/servo/html5ever/blob/36ee935f6884224d6b692cc2e8be0e4a308b8a6d/html5ever/src/tree_builder/mod.rs#L459.

[2020-11-11 18:59] glyphpoch opened #426 "[Question] Stop the TreeBuilder or Tokenizer from processing the rest of the HTML after some data was found"
Hello,

I've been looking at the html5ever docs and it doesn't look like there's a way to stop the `TreeBuilder` or the `Tokenizer` from processing input HTML after we've found some data we were looking for, but I just wanted to confirm that this is actually the case...

Let's say we only want to get the `charset` attribute out of the HTML, which would normally be found at the beginning of the HTM

[2020-11-11 20:39] Ygg01 commented on #426
Yeah. Not having a set state is an optimization. No ifs on every call means less branching. And that's something you want in a performant parser. I think you could spin treesink in another thread and just kill it if you find what you want.

[2020-11-11 21:03] glyphpoch commented on #426
Okay, yeah makes sense, thanks for confirming it. Might just do some preprocessing and parse relevant fragments...

[2020-11-11 21:03] #426 closed

[2020-11-30 12:59] jdm opened #428 "nightly CI is broken"
[code]
[code]

[2020-11-30 13:10] jdm commented on #428
https://github.com/servo/rustc-test/blob/4cf9a4541f66a763badec6dbf0ca09eba257f1ba/src/lib.rs#L1149-L1150 needs to be updated to account for https://github.com/rust-lang/rust/commit/aff7bd66e8b97a41d34c221007e12e4bbe535322#diff-c97db2b21b8a2577efe055c1ece23c3b2de03f4767157cf894b08afd536f06b7.

[2020-12-19 21:15] Lonami opened #429 "Improve ATOM constants naming"
[The current naming is bad](https://docs.rs/html5ever/0.25.1/html5ever/#constants):

This would be *a lot* better:

[Having to do this isn't pretty](https://github.com/Lonami/grammers/blob/559ce844d719284e86a7b861e07355a4ea6ad812/lib/grammers-client/src/parsers.rs#L157-L165) :)

[code]

We could go further and use naming like `TAG_A`, `TAG_B`, but this gets tricky if there are attributes (not tags

[2020-12-19 21:17] Lonami commented on #429
If backwards-compatibility is a concern, I would suggest adding a module `html5ever::constants` with all the `ATOM_` constants.

[2020-12-19 21:26] Lonami commented on #429
…and only after trying to solve this issue I found that [`string_cache_codegen`](https://docs.rs/string_cache_codegen/0.5.1/string_cache_codegen/) generates a macro, which for `html5ever` is [`local_name!`](https://docs.rs/html5ever/0.25.1/html5ever/macro.local_name.html).

Well, that's a lot nicer to use, but at the very least, I would like to see the documentation for this crate to be improved i

[2020-12-19 21:55] Lonami commented on #429
Maybe provide something like this, perhaps have the `string_cache` crate generate this?

[code]

Otherwise, users need to depend on `string_cache` just to refer to `Atom`, and typing `TAG_A` is arguably better than typing `local_name!("a")` every time.

Honestly I think the synonyms should be provided by `html5ever` directly.

[2020-12-22 16:07] Ygg01 commented on #429
@Lonami Hi. Why are you using `TAG_A` instead of just `local_name!(a)`?

Using constants probably won't help unless you never want to do anything with constants?

[2020-12-22 18:50] Lonami commented on #429
It's semantically clearer what one means, since macros can do pretty much anything after all. But my original issue was that the constants were bad and I had no idea `local_name!` existed, so I _think_ it's enough to better document the existence of such macros.

The current docstring for the macro reads:

It's not very obvious (at least to me) that this can be used in the match arms when matching

[2020-12-23 11:10] Ygg01 commented on #429
Yeah, I'm definitely for clearer docs.

And maybe allowing constants for easier reference is ok. That said. `local_name` is the correct name for HTML tag name, at least when namespaces are concerned.

I just don't see how exporting these constants will save you from importing `string_cache`?

[2020-12-23 14:37] Lonami commented on #429
I depended on `string_cache` to be able to name the constants' type, so that I could define my own constants with better naming. However, I wouldn't need to do this if the `html5ever` provided the better (more reasonable) names itself.

[2021-01-04 17:51] pwoolcoc opened #430 "TreeSink requires `Tendril<UTF8, NonAtomic>`?"
Is there a reason that we can't implement `TreeSink` using Atomic `Tendril`s? I'm trying to use an HTML library built on top of html5ever in a future and it seems that I am unable to because of `StrTendril` being `!Send`. I tried swapping out the Tendril used by the tree builder to be `Atomic` but it seems that once I do that I can no longer implement `TreeSink`.

[2021-01-05 01:30] jdm commented on #430
Do you have a code sample that demonstrates what you mean?

[2021-02-02 09:51] ArmenAg opened #433 "Replacing NodeRef with it's child"
I'm working on a project that requires manipulating DOM to simplify HTML. One example of a transform is removing all nested `<div>` to the innermost `<div>` element.

My first attempt was to do the following

[code]

but I quickly realized I'm not augmenting node, therefore i get the wrong behavior. I saw implemented internally of `Node` there was a `.replace` function. **Is it possible to do repl

[2021-04-02 01:33] nathaniel-daniel commented on #430
A lot of functions and types used in [`TreeSink`](https://docs.rs/html5ever/0.25.1/html5ever/tree_builder/trait.TreeSink.html) use non-atomic Tendrils, like [`NodeOrText`](https://docs.rs/html5ever/0.25.1/html5ever/tree_builder/enum.NodeOrText.html) or the function [`create_comment`](https://docs.rs/html5ever/0.25.1/html5ever/tree_builder/trait.TreeSink.html#tymethod.create_comment). However, I do

[2021-04-09 16:57] jclds139 opened #435 "markup5ever version outdated"
m5e 0.10.0 doesn't build on some aarch64 and arm7h devices (like Raspberry Pis, see Morganamilo/paru#258)

It looks like 3afd8d63853627e530b3063b0185eea3732cc29f fixes the problem because the error comes from serde_json failing to read the entities file, but there hasn't been a new version since then. Can we get a new release so these changes can be pulled in?

[2021-04-10 21:34] Ygg01 commented on #435
Yeah, this seems like an issue worth addressing. The PR should be dead simple, just update version number.

[2021-04-15 20:35] Ygg01 commented on #435
@jdm did we publish a new version of markup5ever? This seems like easy fix.

[2021-04-20 14:34] jdm commented on #435
I'll do it in #438.

[2021-04-20 15:19] #435 closed

[2021-04-30 21:25] Antiarchitect opened #441 "UnsupportedPseudoClassOrElement("has")"
I'm trying to parse (relatively) simple html and want to use:
[code]
gives:
[code]
The idea is to parse all `h1` tags but only `h4` and `p` going together.

P.S.
[code]
not works either with
[code]

I use scraper crate which is based on html5ever.
It may be there is another way to do this, but I do not how to write a proper CSS selector correctly.

[2021-04-30 23:25] jdm commented on #441
scraper is based on html5ever and the selectors crate, which is where the actual CSS selector matching is implemented. That crate is part of Servo in https://github.com/servo/servo/tree/master/components/selectors. However, there is an open issue to implement the `has` pseudo-class at https://github.com/servo/servo/issues/25133.

[2021-04-30 23:25] #441 closed

[2021-04-30 23:32] Antiarchitect commented on #441
@jdm Thank you so much for the hint!

[2021-05-02 06:14] asquared31415 commented on #410
This can definitely cause weird and hard to debug behavior.  I ran into a case in practice where a parent node can be dropped but a child node might still have a strong reference.  This caused usage of the child node to be incorrect as that node's children had been removed by the current `Drop` impl.  I believe that simply changing line 133 which extends the list of nodes to remove to something li

[2021-05-02 14:08] jdm commented on #410
Per the description in https://github.com/servo/html5ever/tree/master/rcdom#readme, I recommend forking rcdom to make whatever changes you want to it.

[2021-05-05 04:58] sanchayanghosh commented on #84
I wanted to know if this is still an issue, and I would like to work on this. In #77 I did not see any pull requests/commits  resolving this specific request, and wanted to confirm the same.

[2021-05-09 04:22] Fancyflame opened #442 "Misread close tag inside JavaScript code as it in DOM"
![Screenshot_20210509_121238](https://user-images.githubusercontent.com/31250625/117560373-dee93680-b0bf-11eb-984b-7e014d299a1c.jpg)

call `parse_document` on TEST will throw an error reads "Found special tag while closing generic tag", which caused by js code `alert("</script>!")`. Then if `/` was deleted the error won't appear.

[2021-05-12 01:32] jdm commented on #442
Why did you close this?

[2021-05-12 04:08] Fancyflame commented on #442
@jdm Because I think this should not be recognized as a misreading, I test the code on Opera and FireFox whose core is Chromium and Gecko, found it indeed not work as expectation, so I think html5ever did nothing wrong.
I analyzed the cause found the way browser searching the close symbol of `<script>` is simply searching `</script>` string, which just what html5ever performed.

[2021-06-07 13:17] hhirtz opened #443 "build command crashes when "panic" codegen option is set to "abort""
cargo version: `cargo 1.54.0-nightly (e931e4796 2021-05-24)` and `cargo 1.52.0 (69767412a 2021-04-21)`

html5ever version: https://github.com/servo/html5ever/commit/57eb334c0ffccc6f88d563419f0fbeef6ff5741c

[code]

Otherwise, when using `RUSTFLAGS="-C panic=unwind"` (the default option for this codegen option) the build succeeds on both stable and nightly.

See https://doc.rust-lang.org/rustc/code

[2021-06-07 13:42] hhirtz commented on #443
Sorry for the noise, the crash is due to proc-macro2...

https://github.com/alexcrichton/proc-macro2/issues/218

[2021-06-07 13:42] #443 closed

[2021-06-12 21:11] jneem opened #674 "Plans for `Sync` tendrils?"
The README says

...but I don't see any thoughts below it.

[2021-07-01 00:50] jdm opened #445 "Move to github actions"
Something is wrong with the travis CI integration and homu is no longer starting builds. We should switch to github actions instead.

[2021-07-03 12:22] #445 closed

[2021-08-05 16:53] alecnotthompson opened #673 "Tendril: List of things that would need to be done to remove the warning?"
Out of curiosity, what would need to be done to remove the warning in the readme? With regards to removing unsafe code, is that even possible with this sort of project? I'd love to hear more from someone who knows the compiler rules better than me. It seems like something that is necessary for someone who is wanting this level of memory guarantees with bytes

[2021-10-10 19:08] hasezoey opened #451 "Add Description to what stuff does in `html5ever/examples/*`"
It would be good to have some comments in all examples in `html5ever/examples/` to show what the examples do and what each part does.
This would be great for someone like me who is new to this library(s) to show what part is needed and what happens.

[2021-10-10 19:19] hasezoey opened #452 "Update `xml5ever/README.md` to reflect current API documentation"
Currently `xml5ever/README.md` refers in

to `https://ygg01.github.io/docs/xml5ever/xml5ever/index.html`, which hosts a very outdated API documentation

also, it seems the README is generally outdated (like using function `parse` that i cant find anywhere, maybe needs to be updated to `parse_document`?)

[2021-10-19 18:25] Zizico2 opened #454 "When are TreeSink's methods called"
This is the second issue I open asking for support about html5ever (the other one was in kuchiki) (is there a better place to get support?). When are methods like `remove_from_parent` and `reparent_children` called outside of a browser environment? If I parse an html file will those ever get called or are they supposed to be called by JavaScript? Could it be documented when/why methods are called

[2021-10-19 23:23] jdm commented on #454
They can be invoked by the html5 parsing rules. For example, there are various callers for both methods in code under html5ever/src/tree_builder/.

[2021-10-22 02:23] Zizico2 commented on #454
okok thanks. while we're on the topic... Will every created element be used? Or can a created element be left dangling, not appended to the tree. Will they all be popped, so I can implement pop and listen to that?

[2021-11-30 23:37] dessalines commented on #287
This is occurring again on rust `1.56.0`

https://github.com/LemmyNet/lemmy/issues/1964

[2021-12-01 00:21] jdm commented on #287
Do you have a testscase that can reproduce the problem that you're seeing? Both the code that calls html5ever and the data that it parses.

[2021-12-01 16:33] dessalines commented on #287
Sorry, I tried this with a few non-utf8 chars and it seemed to not segfault. Ignore the above.

[2021-12-01 16:54] kornelski opened #458 "New markup5ever release?"
@jdm Could you make a release of markup5ever? `phf` has been updated 5 months ago.

[2021-12-10 16:56] untitaker opened #459 "html5ever lags far behind on html5lib-tests"
html5ever's submodule checkout of html5lib-tests is 4 years old. While attempting to update it and add missing features to the test harness, I saw that it fails a signifiicant amount of tests in there. It also _hangs up_ on some of them.

I noticed this while fuzzing html5ever together with [html5gum](https://github.com/untitaker/html5gum) and finding a small testcase (https://github.com/html5lib/

[2022-01-21 11:03] xfix opened #463 "Yank xml5ever 0.16.0 and html5ever 0.25.0"
Due to #402, those versions doesn't build with newest Rust. Doing so would help with `cargo update -Z minimal-versions` builds (https://github.com/rust-lang/cargo/issues/5657).

[2022-01-21 19:38] untitaker commented on #463
Can you elaborate on what the actual issue is that makes that particular version not compile on latest Rust, and what yanking would accomplish to drive the Cargo issue forward?

[2022-01-21 20:31] xfix commented on #463
The issue is that those versions used a glob import for `matches` macro, and this broke when standard library introduced `matches` macro in prelude - Rust compiler refused to use either of those due to conflict. c7691e9577615d37f6f5cbfdc2a803c570997bbd fixed the issue.

For all intents and purposes those versions are broken, nobody downloads them anyway, and having them be yanked would help when u

[2022-01-21 20:45] untitaker commented on #463
I posted my concerns with this approach here: https://github.com/rust-lang/cargo/issues/5657#issuecomment-1018846635

[2022-01-21 21:18] xfix commented on #463
For what it's worth, while I don't disagree that yanking can make it trickier to use an older version of Rust, xml5ever 0.16.0 and 0.16.1 have the exact same MSRV (1.36) - the same is the case with html5ever 0.25.0 and 0.25.1 (1.36). So it's not an issue for this particular yank.

(yes, I'm aware that those crates don't build with 1.36 currently, however, this is an issue with dependency that can

[2022-01-21 21:23] untitaker commented on #463
I think it's fine in html5ever's case. I am not sure if the overall approach is viable for driving this feature forward.

[2022-02-09 06:02] dgp1130 opened #464 "`<template />` contents are not serialized"
I was attempting to deserialize an HTML5 document, make some slight modifications, and then reserialize and output it. This document contained `<template />` tags (specifically declarative shadow DOM, but I don't think that matters). I noticed that these `<template />` tags have their content dropped in the output. I made a [minimal reproduction here](https://github.com/dgp1130/html5ever-template)

[2022-02-14 17:03] skanfd commented on #410
So why is there a manually implemented `Drop` for `Node` ?
I've thought `Node` and it's children will be automatically dropped when strong count reach zero.
And these codes just flatten the tree?

[code]

[2022-02-14 17:06] froydnj commented on #410
So that the children are dropped iteratively, not recursively.  See PR #384.

[2022-02-14 17:17] skanfd commented on #410
Thank you for your time! @froydnj

[2022-03-27 22:50] jdm commented on #458
Published.

[2022-03-27 22:50] #458 closed

[2022-04-04 21:01] notriddle opened #470 "Please release a new version of rcdom"
The html5ever and rcdom versions need to line up. As a result, [ammonia](https://github.com/rust-ammonia/ammonia/pull/156) is stuck with an outdated version.

[2022-04-04 21:34] jdm commented on #470
rcdom is not a crate that is published anymore. It was never intended to be supported as a public dependency; ammonia should maintain its own fork as required

[2022-04-04 21:45] #470 closed

[2022-04-04 21:45] notriddle commented on #470
Sure, I can do that, then.

[2022-04-12 09:50] T-Mach commented on #271
Is there any progress or plan?

From the above discussion, I understand that only a `XmlTreeBuilder::new_for_fragment` needs to be implemented, right?

Maybe I will work on this, in order to implement `parse_xml_fragment` in Servo. But I'm not sure how complicated it is, I need to get familiar with xml5ever.

[2022-04-13 20:00] Ygg01 commented on #271
Dunno. I had some plans but they have fallen down to the wayside due to RL issues and other projects.

You can have a crack at it. It's not super complicated, but also not super newbie-friendly.

[2022-04-21 02:00] zhuxiujia opened #471 "cannot find function `precise_time_ns` in crate `time`"
[code]

[2022-04-21 02:23] zhuxiujia commented on #471
Maybe you should update the Time library

[2022-04-22 04:13] jdm commented on #471
You're using xml5ever 0.1. The latest release is 0.17.

[2022-04-22 04:13] #471 closed

[2022-05-10 13:58] b0bleet opened #473 "the trait `TreeSink` is not implemented for `RcDom` with html5ever 0.26"
Repro code:
[code]
Error:
[code]
But when I downgraded html5ever to 0.25 it worked well.

[2022-05-14 03:04] jdm commented on #473
This happens because rcdom is not a crate that we publish anymore: https://github.com/servo/html5ever/tree/master/rcdom#readme . You can fork it if you want to continue using it.

[2022-05-14 03:04] #473 closed

[2022-05-14 11:12] b0bleet commented on #473
I did try it with markup5ever_rcdom crate already.

[2022-05-14 15:33] jdm commented on #473
The fork only works if it depends on the same html5ever/markup5ever crate versions.

[2022-06-02 16:31] #463 closed

[2022-06-10 02:36] coolaj86 opened #476 "doc: how to run example, for n00bs"
Re: https://github.com/servo/html5ever/pull/475

1. Make sure your `rustc` version is `1.61.0` or greater
[code]
2. Create a new project
[code]
4. Update `Cargo.toml` to include the dependencies
[code]
5. Install, build, run:
[code]

[2022-06-10 02:47] jeffyromney commented on #476
I would change:
"Make sure your rustc version is 1.61.0 or greater"
To something like:
"Update rust to a compatible version if needed. This was tested on 1.61.0"

[2022-06-10 03:19] coolaj86 commented on #476
For those that were asking:

`Cargo.lock`:

[code]

[2022-06-10 03:44] coolaj86 commented on #476
# Troubleshooting the weird bug

140e724a5ca004d6cb989499cadcde85d1d437c4  Cargo.toml

`hexyl Cargo.toml`:

[code]

0207c6c56e0842012ad437c9017103a6226384b2  src/main.rs

`hexyl src/main.rs`:

[code]

[2022-06-10 03:49] coolaj86 commented on #476
# Workaround

Changing the `name` field in `Cargo.toml` will cause the `Cargo.lock` to be regenerated, and then it works.

`1078487bd177820fbba31dcec073d2d3272f63ea  Cargo.lock`

`hexyl Cargo.lock`:

[code]

[2022-06-10 03:54] coolaj86 opened #477 "bug: cargo doesn't know how to resolve dependencies for print-rcdom"
See #476

If you use `"*"` for the dependency version, cargo cannot resolve the versions correctly:

[code]

Fix: use exact dependencies

[code]

Not sure if this is a bug in how the versions have been published, or a bug in `cargo` itself.

[2022-06-10 07:53] coolaj86 commented on #477
Recording of me walking through this, step-by-step, verbatim and demonstrating the bug:

https://youtu.be/xu2r8tuUs6k?t=9005

[2022-06-10 16:38] spencer1573 commented on #476
"Changing the name field in Cargo.toml will cause the Cargo.lock to be regenerated, and then it works." -- @coolaj86

now the question is why?

[2022-06-10 19:41] parkero commented on #476
### TL;DR: Wildcards in your dependencies can be dangerous and make Cargo do it's best to guess what you really want. A lone * means "ever version ever" and is especially dangerous because it encompasses breaking changes across versions. Standard practice is to use version numbers (you can check crates.io), as those are the published versions.

I believe the issue stems from using a wildcard field

[2022-07-06 21:44] b7-7b opened #478 "Make async ergonomics nicer."
Using `html5ever` in async code is painful, because of `Cell` in `StrTendril`. As far as I can tell, that choice is for performance reasons ([the documentation](https://doc.servo.org/tendril/struct.Tendril.html "We plan to relax this restriction in the future; see README.md.") claims that the use of non-thread-safe primitives is explained in `README.md`, but no such explanation exists anywhere I c

[2022-08-15 13:01] jdm commented on #464
Unfortunately this is generally going to be an issue that needs to be addressed within the HTML node serialization algorithm of a crate that depends on html5ever, rather than html5ever itself. rcdom doesn't support serializing templates because we only rely on it for this project's unit tests, and it is [unsupported](https://github.com/servo/html5ever/tree/master/rcdom#markup5ever_rcdom).

[2022-08-15 13:01] #464 closed

[2022-09-06 06:55] dhduvall commented on #478
I just started messing with `html5ever` today (through `scraper`, FWIW) and immediately ran into this. Painful means possible, though, yes? If so, I would love some help. If the ergonomics work doesn't happen, an example or some documentation could go a long way. I'd be willing to offer my time doing that if I can get something working in the first place.

[2022-11-06 00:47] ktfth commented on #368
This subject was progressed or we can work on it, to be a good starting point? If not, can you suggest another good first issue @jdm, thank you by now.